extends ../components/base/layout

block variables
  - const title = "Бюстгальтеры"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "bras.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block data
  //- Тут берем переменную mainCollection
  include ../components/data/collections
  include ../data/modal-cart-items

block main
  main
    section.catalog
      .container
        h1.page-title Бюстгальтеры
        ul.catalog__list
          for item in collections
            li.catalog__item
              +card-product(item)
        .catalog__description
          h2.catalog__heading Женские бюстгальтеры
          p.catalog__text Изысканность и утонченность - Бюстгальтеры по привлекательной цене в интернет-магазине Misstease с доставкой по России!
          a.catalog__link(href="#") Смотреть все

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart({items: modalCartItems})
