extends ../components/base/layout

block variables
  - const title = "Карточка комплекта"
  - const wrapperMods = ""
  - const hasHeader = false
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "card.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    +set-card()

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart()
