extends ../components/base/layout

block variables
  - const title = "Корзина"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "set-card.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    h1.visually-hidden Корзина
    include ../components/blocks/cart

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart()
