extends ../components/base/layout

block variables
  - const title = "Главная" //- на страницах кроме главной используйте О нас — ProjectName
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "index.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block data
  //- Тут берем переменную mainCollection
  include ../components/data/main-collection

block main
  main
    h1.visually-hidden Главная страница
    +hero-slider()
    +main-collection(mainCollection)
    +main-categories()

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart()
