extends ../components/base/layout

block variables
  - const title = "Карточка товара"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "set-card.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block data
  include ../data/modal-cart-items

block main
  main
    h1.visually-hidden Карточка товара
    +back-link("Назад к бюстгальтерам")
    +product-card()

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart({items: modalCartItems})
  +modal("modal--gallery")(data-modal="gallery")
    +modal-gallery()
  +modal("modal--sizes")(data-modal="sizes")
    +sizes({mod: 'modal'})
