extends ../components/base/layout

block variables
  - const title = "Карточка комплекта"
  - const wrapperMods = ""
  - const hasHeader = true
  - const headerMods = ""
  - const hasFooter = true
  - const footerMods = ""
  - const currentUrl = "set-card.html" //- для остальных страниц пишем пустую строку или индекс активного headerLinks

block main
  main
    h1.visually-hidden Карточка комплекта
    +back-link("Назад к коллекциям")
    +set-card()

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart({empty: true})
  +modal("modal--gallery")(data-modal="gallery")
    +modal-gallery()
  +modal("modal--sizes")(data-modal="sizes")
    +sizes({mod: 'modal'})
