extends ../components/base/layout

block data
  include ../data/modal-cart-items

block variables
  - const title = "UI-kit"

block main
  style
    include ../../sass/inline/uikit.css
    include ../../sass/inline/prism.css

  main
    .uikit
      //----------------------- Разделы с компонентами
      .uikit__sections(data-scroll-lock-fill-gap)
        label(for="section-burger")
          span Разделы&nbsp;компонентов
        input.visually-hidden(type="checkbox", checked, id="section-burger")
        div
          ul
            li
              a(href="#modals") Модальные окна
            li
              a(href="#links") Ссылки
            li
              a(href="#buttons") Кнопки
            li
              a(href="#forms") Элементы форм

      //----------------------------------------------
      .container
        a.uikit__header-link(href="sitemap.html")
          img(src="img/content/header-logo.png", width="300", alt="Логотип проекта")
        h1.uikit__h1 Компоненты, используемые на проекте

        section.uikit__section
          h2.uikit__h2 Название компонента или группы компонентов
          p.uikit__text Информация о компоненте (подсказки \ предупреждение \ важная информация)
          .uikit__component
            p.uikit__text  Класс компонента \ модификаторы
            pre
              |
              code(class="language-pug").
                p Пример кода

        //- Модальные окна
        section.uikit__section(id="modals")
          h2.uikit__h2 Модальные окна
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .message
            +btn({text: "Корзина"})(data-open-modal="cart")
            pre
              |
              code(class="language-pug").
                +btn({text: "Корзина"})(data-open-modal="cart")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .message
            +btn({text: "Галерея"})(data-open-modal="gallery")
            pre
              |
              code(class="language-pug").
                +btn({text: "Галерея"})(data-open-modal="gallery")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .message
            +btn({text: "Размерный гид"})(data-open-modal="sizes")
            pre
              |
              code(class="language-pug").
                +btn({text: "Размерный гид"})(data-open-modal="sizes")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .message
            +btn({text: "Промокод успешно применен"})(data-open-modal="success")
            pre
              |
              code(class="language-pug").
                +btn({text: "Промокод успешно применен"})(data-open-modal="success")
          .uikit__component
            p.uikit__text.uikit__text--class .modal \ .message
            +btn({text: "Промокод не действителен"})(data-open-modal="error")
            pre
              |
              code(class="language-pug").
                +btn({text: "Промокод не действителен"})(data-open-modal="error")

        //- Ссылки
        section.uikit__section(id="links")
          h2.uikit__h2 Ссылки
          .uikit__component
            p.uikit__text.uikit__text--class .link
            a.link(href="#") Подписаться
            pre
              |
              code(class="language-pug").
                a.link(href="#") Подписаться
          .uikit__component
            p.uikit__text.uikit__text--class .link-bordered
            a.link-bordered(href="#") Купить сейчас
            pre
              |
              code(class="language-pug").
                a.link-bordered(href="#") Купить сейчас
          .uikit__component
            p.uikit__text.uikit__text--class .link-back
            a.link-back(href="#")
              +icon("icon-arrow-back", 28, 28)
              span Назад к коллекциям
            pre
              |
              code(class="language-pug").
                a.link-back(href="#")
                  +icon("icon-arrow-back", 28, 28)
                  span Назад к коллекциям

        //- Кнопки
        section.uikit__section(id="buttons")
          h2.uikit__h2 Кнопки
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ default
            +btn({text: "Оформить заказ"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Оформить заказ"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ big
            +btn({text: "Оформить заказ", size: "big"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Оформить заказ", size: "big"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ small
            +btn({text: "Оформить заказ", size: "small"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Оформить заказ", size: "small"})
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled \ button
            +btn({text: "Текст"})(disabled)
            pre
              |
              code(class="language-pug").
                +btn({text: "Оформить заказ"})(disabled)
          .uikit__component
            p.uikit__text.uikit__text--class .cart-button
            button.cart-button(type="button", aria-label="Добавить в корзину", data-cart-button="add")
              span.cart-button__icon
                +icon("icon-cart", 20, 20)
                +icon("icon-check", 20, 20)
              span.cart-button__text(data-default-text="В корзину", data-added-text="В корзине")
            pre
              |
              code(class="language-pug").
                button.cart-button(type="button", aria-label="Добавить в корзину", data-cart-button="add")
                  span.cart-button__icon
                    +icon("icon-cart", 20, 20)
                    +icon("icon-check", 20, 20)
                  span.cart-button__text(data-default-text="В корзину", data-added-text="В корзине")
          .uikit__component
            p.uikit__text.uikit__text--class .btn-stroke
            +btn({text: "Применить", stroke: true, size: "medium"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)
          .uikit__component
            p.uikit__text.uikit__text--class .btn \ disabled \ button
            +btn({text: "Применить", stroke: true, size: "small"})
            pre
              |
              code(class="language-pug").
                +btn({text: "Текст"})(disabled)
          .uikit__component
            p.uikit__text.uikit__text--class .cart-button-stroke
            button.cart-button-stroke(type="button", aria-label="Добавить в корзину", data-cart-button="add")
              span.cart-button-stroke__icon
                +icon("icon-check", 20, 20)
              span.cart-button-stroke__text(data-default-text="Добавить в корзину", data-added-text="В корзине")
            pre
              |
              code(class="language-pug").
                button.cart-button-stroke(type="button", aria-label="Добавить в корзину", data-cart-button="add")
                  span.cart-button-stroke__icon
                    +icon("icon-check", 20, 20)
                  span.cart-button-stroke__text(data-default-text="Добавить в корзину", data-added-text="В корзине")

        //- Элементы форм
        section.uikit__section(id="forms")
          h2.uikit__h2 Элементы форм
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="text"
            +custom-input({
              inputLabel: "Введите ваше имя",
              inputName: "user-name-1",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputLabel: "Введите ваше имя",
                  inputName: "user-name-1",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="tel"
            +custom-input({
              inputType: "tel",
              inputLabel: "Введите номер телефона",
              inputName: "user-phone",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "tel",
                  inputLabel: "Введите номер телефона",
                  inputName: "user-phone",
                })
          .uikit__component
            p.uikit__text.uikit__text--class .custom-input \ type="email"
            +custom-input({
              inputType: "email",
              inputLabel: "Введите вашу почту",
              inputName: "user-mail",
            })
            pre
              |
              code(class="language-pug").
                +custom-input({
                  inputType: "email",
                  inputLabel: "Введите вашу почту",
                  inputName: "user-mail",
                })
          .uikit__component
            p.uikit__text.uikit__text--class +custom-radio
            +custom-radio({
              name: "size",
              type: "radio",
              label: "70B",
              value: "70B",
              checked: false
            }).custom-toggle--radio
            pre
              |
              code(class="language-pug").
                +custom-radio({
                  name: "size",
                  type: "radio",
                  label: "70B",
                  value: "70B",
                  checked: false
                }).custom-toggle--radio


          .uikit__component
            p.uikit__text Базовый селект c placeholder
            p.uikit__text.uikit__text--class +custom-select \ default
            +custom-select({
              placeholder: "Выбрать размер",
              error: "Выберите размер",
              optionsList: [
                {text: '70B', value: '70B'},
                {text: '70C', value: '70C'},
                {text: '70D', value: '70D'},
                {text: '75B', value: '75B'},
                {text: '75C', value: '75C'},
                {text: '75D', value: '75D'},
                {text: '80B', value: '80B'},
                {text: '80C', value: '80C'},
                {text: '80D', value: '80D'},
                {text: '75A', value: '75A'},
              ]
            })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1")
            pre
              |
              code(class="language-pug").
                +custom-select({
                  placeholder: "Выбрать размер",
                  error: "Выберите размер",
                  optionsList: [
                    {text: '70B', value: '70B'},
                    {text: '70C', value: '70C'},
                    {text: '70D', value: '70D'},
                    {text: '75B', value: '75B'},
                    {text: '75C', value: '75C'},
                    {text: '75D', value: '75D'},
                    {text: '80B', value: '80B'},
                    {text: '80C', value: '80C'},
                    {text: '80D', value: '80D'},
                    {text: '75A', value: '75A'},
                  ]
                })(data-select, data-validate-type="select", data-name="some-name", data-id="id-example-1")


  script
    include ../../js/inline/ui-kit.js

block modals
  +modal("modal--cart")(data-modal="cart")
    +modal-cart({items: modalCartItems})
  +modal("modal--gallery")(data-modal="gallery")
    +modal-gallery()
  +modal("modal--sizes")(data-modal="sizes")
    +sizes({mod: 'modal'})
  +modal-message({status: 'success', text: "Промокод успешно применен", icon: "icon-done"})(data-modal="success")
  +modal-message({status: 'error', text: "Промокод не действителен", icon: "icon-error"})(data-modal="error")
