mixin about-hero()
  section.about-hero
    +picture-mob("about", "hero", "jpg", 3840, 1880, "")
    .about-hero__container.container
      h2.about-hero__title О нас
      p.about-hero__text Изготавливаем эксклюзивное женское бельё с 2017 года.
