mixin about-company()
  section.about-company
    h2.visually-hidden О компании
    .about-company__container.container
      .about-company__quote.about-quote
        span.about-quote__text «История Miss Tease началась с подарка жене. Я выбирал для неё комплект красивого сексуального белья. Мы не так давно были студентами, поэтому покупка сильно ударила по карману. Подумав, мы решили запустить собственное производство, чтобы сделать красоту и качество доступней»
        +icon("icon-quote", 59, 75)
      .about-company__block.about-block
        .about-block__img
          +img("about", "photo", "jpg", 1800, 2012, "")
        .about-block__content
          p.about-block__text Наша миссия - дать каждой женщине почувствовать себя уверенной и сексуальной
      .about-company__text
        p Для нас важно создавать белье, которое можно надевать и каждый день, и для особых случаев. Поэтому мы уделяем внимание и дизайну, и комфорту. Тщательно отбираем материалы производства Италии, Латвии, Германии, Турции, Китая и других стран, чтобы найти лучшие. Используем качественную фурнитуру, выверенные лекала и отработанные технологии пошива.
      ul.about-company__gallery.about-gallery
        li.about-gallery__item
          +img("about", "gallery-item-1", "jpg", 1200, 1520, "")
        li.about-gallery__item
          +img("about", "gallery-item-2", "jpg", 1200, 1520, "")
        li.about-gallery__item
          +img("about", "gallery-item-3", "jpg", 1200, 1520, "")
      .about-company__text
        p Мы уверены, каждая женщина неповторима. Потому, разрабатывая модели, мы прикладываем особые усилия, чтобы все детали белья помогали раскрыть красоту и индивидуальность обладательницы.
        p Сейчас белье Miss Tease доставляется по всему миру. Мы гордимся тем, что помогаем людям получать новый эстетический опыт и создавать особые воспоминания.
