mixin delivery()
  section.text-block
    .container
      .text-block__wrapper
        +typeAside()
        .text-block__inner
          h1.text-block__title Доставка
          .text-block__gray-box
            h2 Доставка ТК «СДЭК»
            p Доставка заказов осуществляется транспортной компанией СДЭК. Доступны следующие виды доставок:
            ul.text-block__list
              li Курьерская доставка с примеркой и частичным выкупом,
              li Доставка в пункты выдачи заказов.
            p Ваш заказ будет обработан и передан в доставку в течение 3 рабочих дней с момента заказа.
            p.text-block__note.text-block__note--icon
              +icon("icon-time", "16", "16")
              span Сроки доставки зависят от города и способа доставки и составляют в среднем 3-6 рабочих дней.
          p.text-block__text MissTease предлагает возможность доставки с примеркой и частичным выкупом. Данный сервис позволяет выбрать только те товары, которые подошли и отказаться от части заказа. На примерку отводится 15 минут.
          h2 Доставка в другие страны
          p.text-block__text Доставка в другие страны осуществляется с других (европейская и международная) версий сайта.
