mixin delivery-form(props = {})
  - const {pickPointSelected = false} = props
  .delivery-form(data-delivery-form="form", class=pickPointSelected && "is-hidden")
    p.delivery-form__title Укажите адрес доставки
    .delivery-form__content
      .delivery-form__wrapper
        +custom-input({
          inputType: "text",
          inputLabel: "Улица*",
          inputName: "street"
        }).delivery-form__input(data-validate-type="text", data-required=pickPointSelected && "", data-message-base="Поле обязательно к заполнению")
        +custom-input({
          inputType: "text",
          inputLabel: "Дом/корпус*",
          inputName: "house"
        }).delivery-form__input.delivery-form__input--short(data-validate-type="text", data-limitation="digit", data-required=pickPointSelected && "", data-message-base="Поле обязательно к заполнению")
        +custom-input({
          inputType: "text",
          inputLabel: "Квартира/офис*",
          inputName: "apartment"
        }).delivery-form__input.delivery-form__input--short(data-validate-type="text", data-limitation="digit", data-required=pickPointSelected && "", data-message-base="Поле обязательно к заполнению")
      .delivery-form__wrapper
        +custom-textarea({
          inputLabel: "Комментарий к заказу",
          inputName: "comment"
        }).delivery-form__input.auto-resize-textarea
