mixin header-delivery()

  .header-delivery
    a.header-delivery__link(data-header-price="link")
      +icon("icon-globus", "18", "18").header-delivery__link-globus
      span Россия ₽
      +icon("icon-arrow-down", "12", "12").header-delivery__link-arrow
    .header-delivery-inner(data-header-price="content", data-da=".header__wrapper, 1023, last")
      button.header-delivery-inner__close(type="button", aria-label="Закрыть меню", data-header-price="close")
        +icon("icon-close", 15, 15)
      p.header-delivery-inner__text Мы осуществляем доставку по&nbsp;всему миру
      ul.header-delivery-inner__list
        li.header-delivery-inner__item
          a.header-delivery-inner__country.is-active(href="#")
            +img("content", "flag-ru", "png", "26", "26", "Изображение флага")
            span.header-delivery-inner__name Россия
            span.header-delivery-inner__value ₽  РУБ
        li.header-delivery-inner__item
          a.header-delivery-inner__country(href="#")
            +img("content", "flag-kz", "png", "26", "26", "Изображение флага")
            span.header-delivery-inner__name Казахстан
            span.header-delivery-inner__value ₸  ТНГ
        li.header-delivery-inner__item
          a.header-delivery-inner__country(href="#")
            +img("content", "flag-eu", "png", "26", "26", "Изображение флага")
            span.header-delivery-inner__name Евросоюз
            span.header-delivery-inner__value €  EUR
        li.header-delivery-inner__item
          a.header-delivery-inner__country(href="#")
            +img("content", "flag-all", "png", "26", "26", "Изображение флага")
            span.header-delivery-inner__name Другие страны
            span.header-delivery-inner__value $  USD
