mixin main-categories()
  section.main-categories
    .container
      h2.visually-hidden Категории товаров
      .main-categories__wrapper
        ul.main-categories__list
          li.main-categories__item

          li.main-categories__item
          li.main-categories__item
          li.main-categories__item
          li.main-categories__item
