mixin measurements()
  .measurements(data-accordion="parent")
    .measurements__accordion(data-accordion="element")
      button.measurements__button(type="button", data-accordion="button")
        span Объем под грудью
        span.accordion__button-arrow
          +icon("icon-plus", 18, 18)
      .measurements__content(data-accordion="content")
        .measurements__inner
          .measurements__text
            p Замеряется параллельно полу прямо под грудью по линии, по которой проходит застежка от бюстгальтера. Лента должна облегать плотно, но не туго.
          .measurements__img
            +img("content", "measurements-1", "png", "305", "305", "Иллюстрация")
    .measurements__accordion(data-accordion="element")
      button.measurements__button(type="button", data-accordion="button")
        span Объем груди
        span.accordion__button-arrow
          +icon("icon-plus", 18, 18)
      .measurements__content(data-accordion="content")
        .measurements__inner
          .measurements__text
            p Замеряется параллельно полу прямо под грудью по линии, по которой проходит застежка от бюстгальтера. Лента должна облегать плотно, но не туго.
          .measurements__img
            +img("content", "measurements-1", "png", "305", "305", "Иллюстрация")
    .measurements__accordion(data-accordion="element")
      button.measurements__button(type="button", data-accordion="button")
        span Объем талии
        span.accordion__button-arrow
          +icon("icon-plus", 18, 18)
      .measurements__content(data-accordion="content")
        .measurements__inner
          .measurements__text
            p Замеряется параллельно полу прямо под грудью по линии, по которой проходит застежка от бюстгальтера. Лента должна облегать плотно, но не туго.
          .measurements__img
            +img("content", "measurements-1", "png", "305", "305", "Иллюстрация")
    .measurements__accordion(data-accordion="element")
      button.measurements__button(type="button", data-accordion="button")
        span Объем бедер
        span.accordion__button-arrow
          +icon("icon-plus", 18, 18)
      .measurements__content(data-accordion="content")
        .measurements__inner
          .measurements__text
            p Замеряется параллельно полу прямо под грудью по линии, по которой проходит застежка от бюстгальтера. Лента должна облегать плотно, но не туго.
          .measurements__img
            +img("content", "measurements-1", "png", "305", "305", "Иллюстрация")


