include ../../data/order-cart-items

mixin order(props = {})
  - const {step = 1, pickPointSelected = false} = props
  .order(data-form-validate, data-callback="base")
    .order__container.container
      h2.order__title Оформление заказа
      form.order__wrapper(action="#", novalidate, data-order="form")
        .order__content
          .order__blocks
            +order-block({
              title: "Контактная информация",
              text: "Пожалуйста, укажите свои контактные данные и убедитесь, что правильно выбран населённый пункт",
              hasFooter: true
            }).order__block.is-active(data-order="block", data-step="1", data-form-block)
              +information-form({isFilled: step > 1})
            +order-block({
              title: "Способ доставки",
              text: "Выберите удобный способ доставки",
              isFilled: step > 2,
              isActive: true,
              hasFooter: true,
              mod: "delivery",
              aside: true,
              editUrl: "order-delivery.html",
              pickPointSelected
            }).order__block(data-tabs="parent", data-delivery-form="parent", data-current-tab=Number(pickPointSelected), data-order="block", data-step="2")
              +delivery-checks({isFilled: step > 2, pickPointSelected})

            +order-block({
              title: "Способ оплаты",
              isActive: step === 3,
            }).order__block(data-order="block", data-step="3")
              +payment-form()
        .order__aside.cart-aside(data-accordion="parent")
          .cart-aside__wrapper
            h3.cart-aside__title Корзина
            a.cart-aside__edit.edit-button(href="cart.html")
              +icon("icon-edit", 18, 18)
              span Изменить
            .cart-aside__products.cart-accordion(data-accordion="element")&attributes(attributes)
              button.cart-accordion__button(type="button", data-accordion="button")
                span Товары в заказе
                span.cart-accordion__button-arrow
                  +icon("icon-arrow-down", 12, 12)
              .cart-accordion__content(data-accordion="content")
                .cart-accordion__wrapper
                  .cart-accordion__scroll-wrapper
                    ul.cart-accordion__list
                      each item in orderCartItems
                        li.cart-accordion__item
                          +modal-cart-item(item)
            ul.cart-aside__list
              li.cart-aside__item
                span.cart-aside__item-key 5 товаров на сумму
                span.cart-aside__item-value 16 000 ₽
              li.cart-aside__item
                span.cart-aside__item-key Скидка
                span.cart-aside__item-value 920 ₽
              li.cart-aside__item
                span.cart-aside__item-key Доставка
                span.cart-aside__item-value 240 ₽
            .cart-aside__total
              p.cart-aside__total-text
                span Итого
                span 16 240 ₽
              +btn({text: "Оформить заказ", size: "big", type: "submit"}).cart-aside__button(data-order="submit", disabled)
