mixin pay()
  section.text-block
    .container
      .text-block__wrapper
        +typeAside()
        .text-block__inner
          h1.text-block__title Оплата
          .text-block__gray-box
            h2 При получении
            p Вы можете оплатить заказ наличными или банковской картой курьеру при получении или в пункте самовывоза после примерки. Данный вариант оплаты доступен только для заказов, доставляемых по России транспортной компанией СДЭК.
          .text-block__gray-box
            h2 Банковской картой онлайн
            p Для выбора оплаты товара с помощью банковской карты  соответствующей странице необходимо нажать кнопку Оплата заказа банковской картой. Оплата происходит через ЮКасса с использованием банковских карт следующих платёжных систем:
            ul.text-block__bank-cards
              li
                <svg width="70" height="47" viewBox="0 0 70 47" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="70" height="46.6667" rx="8.55556" fill="#0D0D0D"/>
                <g clip-path="url(#clip0_1063_9204)">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M23.7429 16V16.0061C23.7366 16.0061 21.7508 16 21.2213 17.8402C20.7358 19.5275 19.3679 24.186 19.33 24.3144H18.9518C18.9518 24.3144 17.5523 19.552 17.0606 17.8341C16.531 15.9939 14.5389 16 14.5389 16H10V30H14.5389V21.6856H14.7281H14.9172L17.5649 30H20.7169L23.3646 21.6917H23.7429V30H28.2818V16H23.7429Z" fill="#4DB45E"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M40.3229 16C40.3229 16 38.9927 16.1162 38.3686 17.4672L35.1535 24.3144H34.7753V16H30.2363V30H34.5231C34.5231 30 35.9163 29.8777 36.5404 28.5328L39.6924 21.6856H40.0707V30H44.6096V16H40.3229Z" fill="#4DB45E"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M46.627 22.3584V30.0003H51.1659V25.5374H56.0831C58.2265 25.5374 60.042 24.2108 60.7166 22.3584H46.627Z" fill="#4DB45E"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M56.0831 16H45.9902C46.4946 18.6655 48.556 20.8052 51.2226 21.5022C51.8278 21.6611 52.4645 21.7467 53.1201 21.7467H60.8994C60.9687 21.4288 61.0002 21.1048 61.0002 20.7686C61.0002 18.1336 58.8001 16 56.0831 16Z" fill="url(#paint0_linear_1063_9204)"/>
                </g>
                <defs>
                <linearGradient id="paint0_linear_1063_9204" x1="45.9915" y1="18.8734" x2="61.0002" y2="18.8734" gradientUnits="userSpaceOnUse">
                <stop offset="0.3" stop-color="#00B4E6"/>
                <stop offset="1" stop-color="#088CCB"/>
                </linearGradient>
                <clipPath id="clip0_1063_9204">
                <rect width="51" height="14" fill="white" transform="translate(10 16)"/>
                </clipPath>
                </defs>
                </svg>

              li
                +icon("icon-visa", "70", "47")
              li
                +icon("icon-master", "70", "47")
              li
                +icon("icon-jcb", "70", "47")
            p.text-block__note Для оплаты (ввода реквизитов Вашей карты) Вы будете перенаправлены на платёжный шлюз ПАО СБЕРБАНК. Соединение с платёжным шлюзом и передача информации осуществляется в защищённом режиме с использованием протокола шифрования SSL. В случае если Ваш банк поддерживает технологию безопасного проведения интернет-платежей Verified By Visa, MasterCard SecureCode, MIR Accept, J-Secure, для проведения платежа также может потребоваться ввод специального пароля.
            p.text-block__note.text-block__note--icon
              +icon("icon-info", "16", "16")
              span Настоящий сайт поддерживает 256-битное шифрование. Конфиденциальность сообщаемой персональной информации обеспечивается ПАО СБЕРБАНК. Введённая информация не будет предоставлена третьим лицам за исключением случаев, предусмотренных законодательством РФ. Проведение платежей по банковским картам осуществляется в строгом соответствии с требованиями платёжных систем МИР, Visa Int., MasterCard Europe Sprl, JCB.
