mixin refund()
  section.text-block
    .container
      .text-block__wrapper
        +typeAside()
        .text-block__inner
          h1.text-block__title Условия возврата
          p.text-block__text.text-block__text--indent-xs MissTease предлагает 10-ти дневную политику возврата и обмена.  Мы с радостью поможем Вам с осуществлением возврата или обмена товаров MissTease, если они будут соответствовать нашим требованиям:
          ul.text-block__list
            li Мы принимаем неношеные и нестираные товары в оригинальной упаковке с сохранением оригинальных бирок.
            li Если вы возвращаете товар, к которому прилагался бесплатный подарок, его также необходимо вернуть.
          p.text-block__text.text-block__text--indent-xs.text-block__text--bold Следующие товары не могут быть возвращены:
          ul.text-block__list
            li Примеренные трусы, боди и купальники при прямом контакте с кожей.
            li Поврежденные. изношенные и постиранные вещи.
            li Таможенные пошлины и налоги, а также расходы на доставку не могут быть возвращены MissTease после отправки вашего заказа.
          .text-block__text.text-block__text--indent-xs Возврат товара осуществляется за счет покупателя.
          .text-block__text После получения от вас товара и его проверки на соответствие нашим условиям MissTease осуществит возврат в течение 3 рабочих дней.
          +form()
