mixin typeAside()
  -
    const asideLinks = [
      {
        href: "delivery.html",
        text: "Доставка"
      },
      {
        href: "pay.html",
        text: "Оплата"
      },
      {
        href: "refund.html",
        text: "Возврат"
      },
      {
        href: "table-size.html",
        text: "Размерный гид"
      },
      {
        href: "contacts.html",
        text: "Контакты"
      }
    ]

  aside.type-aside
    nav.type-aside__nav
      ul.type-aside__list
        for item in asideLinks
          li.type-aside__list
            a.type-aside__link(class=currentUrl === item.href ? "is-active" : null, href=item.href)!=item.text
