.accordion {
  display: flex;
  flex-direction: column;
  border-top: size(1px) solid rgba($color-default-white, 10%);

  &:last-child {
    border-bottom: size(1px) solid rgba($color-default-white, 10%);
  }

  &.is-active {
    .accordion__button svg {
      transform: rotate(45deg);
    }
  }

  &__button {
    font-weight: 300;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    letter-spacing: size(1.2px);
    text-transform: uppercase;
    color: $color-default-white;
    border: none;
    outline: none;
    background: none;
    column-gap: size(20px);

    @include tablet-desktop {
      font-size: size(15px);
      padding: size(22px) 0;
    }

    @include mobile {
      font-size: size(13px);
      padding: size(17px) 0;
    }

    svg {
      transition: transform $trans-default;
      color: rgba($color-default-white, 56%);

      @include tablet-desktop {
        width: size(15px);
        height: size(15px);
      }

      @include mobile {
        width: size(12px);
        height: size(12px);
      }
    }
  }
}
