.btn {
  font-weight: 400;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color $trans-default;
  text-align: center;
  letter-spacing: size(0.84px);
  text-transform: uppercase;
  color: $color-default-white;
  border: none;
  background-color: $color-barley-corn;

  @include tablet-desktop {
    font-size: size(14px);
    gap: size(20px);
  }

  @include mobile {
    font-size: size(12px);
    gap: size(10px);
  }

  &:not(.btn--big):not(.btn--big-icon) {
    padding: size(15px) size(40px);
  }

  &--big {
    @include tablet-desktop {
      padding: size(21px) size(40px);
    }

    @include mobile {
      padding: size(17px) size(40px);
    }
  }

  &--big-icon {
    @include tablet-desktop {
      padding: size(16px) size(40px);
    }

    @include mobile {
      padding: size(12px) size(29px);
    }
  }

  @include hover-focus {
    background-color: $color-peru;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  svg {
    @include tablet-desktop {
      width: size(20px);
      height: size(20px);
    }

    @include mobile {
      width: size(18px);
      height: size(18px);
    }
  }
}

.btn-stroke {
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: size(15px) size(39px);
  cursor: pointer;
  transition: border-color $trans-default, color $trans-default;
  text-align: center;
  color: rgba($color-default-white, 70%);
  border: size(1px) solid rgba($color-default-white, 30%);
  background-color: $color-transparent;

  &:not(.btn-stroke--small):not(.btn-stroke--medium) {
    font-size: size(14px);
    font-weight: 400;
    padding: size(15px) size(39px);
    letter-spacing: size(0.84px);
    text-transform: uppercase;
  }

  &--small {
    font-weight: 300;

    @include tablet-desktop {
      font-size: size(16px);
      padding: size(13px) size(39px);
    }

    @include mobile {
      font-size: size(13px);
      min-height: size(38px);
      padding: size(10px) size(24px);
    }
  }

  &--medium {
    font-weight: 500;

    @include tablet-desktop {
      font-size: size(14px);
      padding: size(15px) size(20px);
    }

    @include mobile {
      font-size: size(12px);
      min-height: size(39px);
      padding: size(10px) size(14px);
    }
  }

  @include hover-focus {
    color: $color-default-white;
    border-color: $color-default-white;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
