.cart-button {
  font-weight: 400;
  line-height: 100%;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color $trans-default, color $trans-default;
  text-align: center;
  letter-spacing: size(0.84px);
  text-transform: uppercase;
  color: $color-default-white;
  border: none;
  background-color: $color-barley-corn;

  @include tablet-desktop {
    font-size: size(14px);
    padding: size(16px) size(40px);
    gap: size(20px);
  }

  @include mobile {
    font-size: size(12px);
    padding: size(12px) size(29px);
    gap: size(10px);
  }

  @include hover-focus {
    background-color: $color-peru;
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  &::before {
    position: absolute;
    content: "";
    transition: opacity $trans-default;
    opacity: 0;
    border: size(1px) solid $color-barley-corn;
    inset: 0;
  }

  &__text {
    &::after {
      content: attr(data-default-text);
    }
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablet-desktop {
      width: size(20px);
      height: size(20px);
    }

    @include mobile {
      width: size(18px);
      height: size(18px);
    }

    svg {
      position: absolute;
      flex-shrink: 0;
      width: 100%;
      height: 100%;

      &:last-child {
        opacity: 0;
      }
    }
  }

  &.is-added {
    pointer-events: none;
    color: $color-barley-corn;
    background-color: $color-transparent;

    &::before {
      opacity: 1;
    }

    .cart-button__text::after {
      content: attr(data-added-text);
    }

    .cart-button__icon svg {
      &:first-child {
        opacity: 0;
      }

      &:last-child {
        opacity: 1;
      }
    }
  }
}

.cart-button-stroke {
  font-weight: 300;
  line-height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: size(15px) size(39px);
  cursor: pointer;
  transition: border-color $trans-default, color $trans-default;
  text-align: center;
  color: rgba($color-default-white, 70%);
  border: size(1px) solid rgba($color-default-white, 30%);
  background-color: $color-transparent;

  @include tablet-desktop {
    font-size: size(16px);
    min-height: size(45px);
    padding: size(11px) size(39px);
    gap: size(20px);
  }

  @include mobile {
    font-size: size(13px);
    min-height: size(38px);
    padding: size(7px) size(24px);
    gap: size(10px);
  }

  @include hover-focus {
    color: $color-default-white;
    border-color: $color-default-white;
  }

  &__text {
    &::after {
      content: attr(data-default-text);
    }
  }

  &__icon {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;

    @include tablet-desktop {
      width: size(20px);
      height: size(20px);
    }

    @include mobile {
      width: size(16px);
      height: size(16px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.is-added {
    pointer-events: none;
    color: $color-barley-corn;
    border-color: $color-barley-corn;

    .cart-button-stroke__text {
      &::after {
        content: attr(data-added-text);
      }
    }

    .cart-button-stroke__icon {
      display: flex;
    }
  }

  &:disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}
