.contents {
  &__name {
    font-size: size(20px);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: size(10px);
    color: $color-default-white;

    @include mobile {
      font-size: size(14px);
      margin-bottom: size(1px);
    }
  }

  &__title {
    font-family: $ff-cormorant;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    color: $color-default-white;

    &:not(.contents__title--sm) {
      @include tablet-desktop {
        font-size: size(50px);
        margin-bottom: size(44px);
      }

      @include mobile {
        margin-bottom: size(18px);
      }
    }

    &--sm {
      @include tablet-desktop {
        font-size: size(44px);
        margin-bottom: size(35px);
      }

      @include mobile {
        margin-bottom: size(15px);
      }
    }

    @include mobile {
      font-size: size(36px);
    }
  }

  &__list-wrapper {
    display: flex;
    flex-direction: column;
    border-bottom: size(1px) solid $white-10;

    @include tablet-desktop {
      padding-bottom: size(40px);
    }

    @include mobile {
      padding-bottom: size(25px);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    @include tablet-desktop {
      row-gap: size(40px);
    }

    @include mobile {
      row-gap: size(30px);
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(30px);
      }

      @include mobile {
        margin-bottom: size(15px);
      }
    }
  }

  &__list-title {
    font-weight: 300;
    margin-top: 0;
    color: $white-70;

    @include tablet-desktop {
      font-size: size(22px);
      margin-bottom: size(30px);
    }

    @include mobile {
      font-size: size(16px);
      margin-bottom: size(18px);
    }
  }

  &__link {
    display: inline-flex;
    align-items: center;
    color: $white-56;
    gap: size(10px);

    @include tablet-desktop {
      font-size: size(14px);
    }

    @include mobile {
      font-size: size(12px);
    }

    svg {
      @include tablet-desktop {
        width: size(20px);
        height: size(20px);
      }

      @include mobile {
        width: size(16px);
        height: size(16px);
      }
    }
  }

  &__look {
    display: flex;
    flex-direction: column;
    border-bottom: size(1px) solid $white-10;

    @include tablet-desktop {
      padding-top: size(41px);
      padding-bottom: size(40px);
    }

    @include mobile {
      padding-top: size(31px);
      padding-bottom: size(29px);
    }
  }

  &__look-title {
    font-weight: 300;
    margin-top: 0;
    color: $color-default-white;

    @include tablet-desktop {
      font-size: size(26px);
      margin-bottom: size(34px);
    }

    @include mobile {
      font-size: size(20px);
      margin-bottom: size(20px);
    }
  }

  &__price {
    font-weight: 300;
    margin-top: 0;
    color: $color-default-white;

    @include tablet-desktop {
      font-size: size(26px);
      margin-bottom: size(42px);
    }

    @include mobile {
      font-size: size(20px);
      margin-bottom: size(27px);
    }
  }

  &__sizes {
    @include tablet-desktop {
      margin-bottom: size(20px);
    }

    @include mobile {
      margin-bottom: size(3px);
    }
  }
}

.contents-card {
  display: flex;
  align-items: flex-start;

  @include tablet-desktop {
    column-gap: size(30px);
  }

  @include mobile {
    column-gap: size(16px);
  }

  &__img {
    @include tablet-desktop {
      width: size(98px);
      height: size(148px);
    }

    @include mobile {
      width: size(74px);
      height: size(112px);
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__header {
    font-size: size(16px);
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    color: $white-70;
    gap: size(20px);

    @include tablet-desktop {
      font-size: size(16px);
      margin-bottom: size(20px);
    }

    @include mobile {
      font-size: size(13px);
      margin-bottom: size(19px);
    }
  }

  &__select {
    margin-bottom: size(20px);

    @include mobile {
      margin-bottom: size(19px);
    }
  }

  &__price {
    flex-shrink: 0;
    white-space: nowrap;
  }

  &__footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .cart-button-stroke__icon {
      display: none;
    }

    &.is-added {
      .cart-button-stroke {
        color: $color-barley-corn;
        border-color: $color-barley-corn;
        pointer-events: none;
      }

      .cart-button-stroke__text {
        &::after {
          content: attr(data-added-text);
        }
      }

      .cart-button-stroke__icon {
        display: block;
      }

      .contents-card__delete {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__delete {
    position: absolute;
    right: size(16px);
    cursor: pointer;
    padding: 0;
    background: none;
    border: none;
    outline: none;
    display: flex;
    width: size(20px);
    color: $white-70;
    height: size(20px);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: color $trans-default, opacity $trans-default, visibility $trans-default;

    @include mobile {
      width: size(16px);
      height: size(16px);
      right: size(20px);
      }

    @include hover-focus {
      color: $color-default-white;
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

.contents-footer {
  display: flex;
  flex-direction: column;

  @include tablet-desktop {
    padding-top: size(34px);
  }

  @include mobile {
    padding-top: size(31px);
  }

  &__total {
    font-weight: 300;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 0;
    color: $color-barley-corn;
    gap: size(20px);

    @include tablet-desktop {
      font-size: size(26px);
      margin-bottom: size(34px);
    }

    @include mobile {
      font-size: size(20px);
      margin-bottom: size(20px);
    }
  }

  &__button {
    &:not(:last-child) {
      margin-bottom: size(80px);

      @include mobile {
        margin-bottom: size(60px);
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;

    @include tablet-desktop {
      column-gap: size(40px);
    }

    @include mobile {
      column-gap: size(20px);
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(40px);
      }

      @include mobile {
        margin-bottom: size(60px);
      }
    }

    .counter {
      @include desktop {
        flex: 1 0 size(142px);
        max-width: size(142px);
      }

      @include mobile {
        flex: 1 0 size(117px);
        max-width: size(117px);
      }
    }

    .btn {
      flex-grow: 1;
    }
  }

  &__accordion {
    border-top: size(1px) solid rgba($color-default-white, 10%);

    &:last-child {
      border-bottom: size(1px) solid rgba($color-default-white, 10%);
    }
  }
}

.contents-sizes {
  &__label {
    font-weight: 300;
    margin-top: 0;
    color: $white-56;

    @include tablet-desktop {
      font-size: size(16px);
      margin-bottom: size(14px);
    }

    @include mobile {
      font-size: size(13px);
      margin-bottom: size(5px);
    }
  }

  &__list {
    display: flex;
    flex-wrap: wrap;

    @include tablet-desktop {
      gap: size(6px);
    }

    @include mobile {
      gap: size(8px);
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(18px);
      }

      @include mobile {
        margin-bottom: size(16px);
      }
    }
  }
}
