.counter {
  display: flex;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: size(32px);
    height: size(40px);
    padding: 0;
    cursor: pointer;
    transition: color $trans-default;
    color: rgba($color-default-white, 70%);
    border: none;
    outline: none;
    background: none;

    &:disabled {
      pointer-events: none;
      color: rgba($color-default-white, 10%);
    }

    @include hover-focus {
      color: $color-default-white;
    }

    svg {
      width: size(12px);
      height: size(12px);
    }
  }

  &__num {
    font-size: size(14px);
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: size(46px);
    flex-grow: 1;
    padding: size(10px);
    user-select: none;
    text-align: center;
    color: rgba($color-default-white, 70%);
  }
}
