.counter {
  display: flex;

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    transition: color $trans-default;
    color: rgba($color-default-white, 70%);
    border: none;
    outline: none;
    background: none;

    @include tablet-desktop {
      width: size(32px);
      height: size(40px);
    }

    @include mobile {
      width: size(30px);
      height: size(38px);
    }

    &:disabled {
      pointer-events: none;
      color: rgba($color-default-white, 10%);
    }

    @include hover-focus {
      color: $color-default-white;
    }

    svg {
      @include tablet-desktop {
        width: size(12px);
        height: size(12px);
      }

      @include mobile {
        width: size(10px);
        height: size(10px);
      }
    }
  }

  &__num {
    line-height: normal;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    padding: size(10px);
    user-select: none;
    text-align: center;
    color: rgba($color-default-white, 70%);

    @include tablet-desktop {
      font-size: size(14px);
      min-width: size(46px);
    }

    @include mobile {
      font-size: size(13px);
      min-width: size(41px);
    }
  }
}
