.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  align-items: center;

  label {
    display: flex;
    align-items: center;
    width: 100%;

    input,
    textarea {
      font-family: $ff-geologica;
      font-size: 16px;
      font-weight: 300;
      width: 100%;
      min-height: 56px;
      padding: 18px 0;
      transition: border-color $trans-default;
      border: none;
      border-bottom: 1px solid rgba($color-default-white, 10%);
      outline: none;
      background-color: $color-transparent;

      @include vp-767 {
        font-size: 14px;
        min-height: 46px;
        padding: 14px 0;
      }

      @include hover-focus {
        border-color: $color-default-white;
      }
    }
  }

  &__label {
    font-size: 16px;
    font-weight: 300;
    position: absolute;
    left: 0;

    @include vp-767 {
      font-size: 14px;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    transition: opacity 0.3s ease;

    opacity: 0;

    color: #ff1553;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border: 2px solid #ff1553;

      &:focus,
      &:hover {
        border: 2px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border: 2px solid #22b259;

      &:focus,
      &:hover {
        border: 2px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
