.custom-select {
  position: relative;

  &__label {
    font-weight: 400;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform $trans-default, opacity $trans-default;
    transform: translateY(-50%);
    letter-spacing: size(0.72px);
    text-transform: uppercase;
    pointer-events: none;
    color: $white-40;

    @include tablet-desktop {
      font-size: size(12px);
    }

    @include mobile {
      font-size: size(10px);
    }
  }

  &__placeholder {
    font-weight: 400;
    line-height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transition: transform $trans-default, opacity $trans-default;
    transform: translateY(-50%);
    letter-spacing: size(0.72px);
    text-transform: uppercase;
    pointer-events: none;
    color: $white-40;

    @include tablet-desktop {
      font-size: size(12px);
    }

    @include mobile {
      font-size: size(10px);
    }
  }

  select {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    white-space: nowrap;
    border: 0;
    clip-path: inset(100%);
  }

  &__button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: size(10px) 0;
    cursor: pointer;
    transition: border $trans-default;
    border: none;
    border-bottom: size(1px) solid $white-10;
    outline: none;
    background-color: $color-transparent;

    @include tablet-desktop {
      height: size(44px);
    }

    @include mobile {
      padding: size(13px) 0;
    }

    @include hover-focus {
      border-color: $color-default-white;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__list-wrapper {
    margin: 0;
    list-style: none;
    scrollbar-width: thin;
    scrollbar-color: $color-peru $color-black;

    @include tablet-desktop {
      padding: size(6px) 0;
    }

    @include mobile {
      max-height: calc(100vh - 200px);
      overflow-y: auto;
      padding: 0;
    }

    &::-webkit-scrollbar {
      @include tablet-desktop {
        width: size(3px);
      }

      @include mobile {
        width: size(2px);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $color-peru;

      @include tablet-desktop {
        border-radius: size(30px);
      }

      @include mobile {
        border-radius: size(20px);
      }
    }
  }

  &__list {
    position: absolute;
    bottom: 0;
    visibility: hidden;
    margin: 0;
    list-style: none;
    opacity: 0;
    background-color: $color-nero-2;
    box-shadow: 0 size(4px) size(30px) 0 rgba($color-default-black, 25%);
    scrollbar-width: thin;
    scrollbar-color: $color-peru $color-black;

    @include tablet-desktop {
      z-index: 1;
      overflow-y: auto;
      width: 100%;
      max-height: size(272px);
      transition: visibility $trans-default, opacity $trans-default;
      transform: translateY(100%);
    }

    @include mobile {
      position: fixed;
      z-index: 10;
      right: 0;
      left: 0;
      padding: 0 0 12px;
      border-top-left-radius: 16px;
      border-top-right-radius: 16px;
      box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    }

    &::-webkit-scrollbar {
      @include tablet-desktop {
        width: size(3px);
      }

      @include mobile {
        width: size(2px);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $color-peru;

      @include tablet-desktop {
        border-radius: size(30px);
      }

      @include mobile {
        border-radius: size(20px);
      }
    }
  }

  &__list-title {
    @include tablet-desktop {
      display: none;
    }

    @include mobile {
      font-size: 12px;
      font-weight: 400;
      line-height: 100%;
      margin-top: 0;
      margin-bottom: 16px;
      padding: 0 20px;
      letter-spacing: 0.72px;
      text-transform: uppercase;
      color: $white-40;
    }
  }

  &__handle {
    @include tablet-desktop {
      display: none;
    }

    @include mobile {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 32px;
    }

    &::before {
      @include mobile {
        position: absolute;
        width: 40px;
        height: 3px;
        content: "";
        border-radius: 30px;
        background-color: $white-10;
      }
    }
  }

  &__close {
    @include tablet-desktop {
      display: none;
    }

    @include mobile {
      position: absolute;
      z-index: 1;
      top: 8px;
      right: 13px;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;
      cursor: pointer;
      color: $white-30;
      border: none;
      outline: none;
      background: none;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  &__overlay {
    @include tablet-desktop {
      display: none;
    }

    @include mobile {
      position: fixed;
      z-index: 9;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      visibility: hidden;
      transition: opacity $trans-default, visibility $trans-default;
      opacity: 0;
      background-color: rgba($color-default-black, 0.7);
    }
  }

  &__item {
    font-weight: 400;
    line-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color $trans-default, color $trans-default;
    letter-spacing: size(0.72px);
    text-transform: uppercase;
    color: $white-70;
    outline: none;
    gap: size(10px);

    @include tablet-desktop {
      font-size: size(12px);
      padding: size(5px) size(16px);
    }

    @include mobile {
      font-size: 12px;
      padding: 9px 20px;
    }

    svg {
      flex-shrink: 0;
      transition: opacity $trans-default;
      opacity: 0;
      color: $color-barley-corn;
    }

    @include hover-focus {
      color: $color-barley-corn;
      background-color: rgba($color-default-white, 4%);
    }

    &[aria-selected="true"] {
      pointer-events: none;
      color: $color-barley-corn;
      background-color: rgba($color-default-white, 4%);

      svg {
        opacity: 1;
      }
    }
  }

  &__error {
    position: absolute;
    bottom: size(-15px);
    left: 0;

    transition: opacity 0.1s ease;

    opacity: 0;

    color: #ff1553;
  }

  &__text {
    font-weight: 400;
    line-height: 100%;
    overflow: hidden;
    flex-shrink: 0;
    width: 80%;
    transition: opacity $trans-default 0.1s;
    text-align: left;
    white-space: nowrap;
    letter-spacing: size(0.72px);
    text-transform: uppercase;
    text-overflow: ellipsis;
    opacity: 0;
    color: $color-barley-corn;

    @include tablet-desktop {
      font-size: size(12px);
    }

    @include mobile {
      font-size: size(10px);
    }

    br {
      display: none;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    margin-left: auto;
    transition: transform $trans-default;
    color: $white-70;

    @include tablet-desktop {
      width: size(14px);
      height: size(14px);
    }

    @include mobile {
      width: size(12px);
      height: size(12px);
    }

    svg {
      width: 100%;
      height: 100%;
    }
  }

  &.is-disabled {
    pointer-events: none;

    .custom-select__list {
      display: none;
    }
  }

  &.open-up {
    .custom-select__list {
      top: 0;
      bottom: auto;
      transform: translateY(-100%);
    }
  }

  &.is-open {
    .custom-select__list {
      @include tablet-desktop {
        visibility: visible;
        opacity: 1;
      }

      //@include mobile {
      //  transform: translateY(0);
      //  }
    }

    .custom-select__overlay {
      @include mobile {
        visibility: visible;
        opacity: 1;
      }
    }

    .custom-select__button {
      border-color: $color-barley-corn;
    }

    .custom-select__icon {
      transform: rotate(180deg);
      color: $color-barley-corn;
    }

    .custom-select__label {
      opacity: 0;
    }
  }

  &.not-empty {
    .custom-select__text {
      opacity: 1;
    }

    .custom-select__label {
      opacity: 0;
    }

    .custom-select__placeholder {
      opacity: 0;
    }
  }

  &.is-invalid {
    .custom-select__error {
      opacity: 1;
    }

    .custom-select__button {
      border: size(2px) solid #ff1553;

      &:focus,
      &:hover {
        border: size(2px) solid rgba(#ff1553, 0.5);
      }
    }
  }

  /* &.is-valid {
    .custom-select__button {
      border: 2px solid $color-eucalyptus;

      &:focus,
      &:hover {
        border: 2px solid rgba($color-eucalyptus, 0.5);
      }
    }
  } */

  &--placeholder {
    .custom-select__label {
      transform: translateY(calc(-50% - #{size(40px)}));
      opacity: 1;
    }

    &.is-open .custom-select__label {
      opacity: 1;
    }

    &.not-empty .custom-select__label {
      opacity: 1;
    }
  }

  &.slide-up.not-empty,
  &.slide-up.is-open {
    .custom-select__label {
      transform: translateY(calc(-50% - #{size(40px)}));
      opacity: 1;
    }

    .custom-select__text {
      opacity: 1;
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: size(-5px);

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
