.social-list {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;

  @include tablet-desktop {
    gap: size(14px);
  }

  @include mobile {
    gap: size(10px);
  }

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;

    @include tablet-desktop {
      width: size(26px);
      height: size(26px);
      margin-right: size(14px);
    }

    @include mobile {
      width: size(22px);
      height: size(22px);
      margin-right: size(14px);
    }

    svg {
      position: absolute;
      width: 100%;
      height: 100%;
      transition: opacity $trans-default;

      &:last-child {
        z-index: 1;
        opacity: 0;
      }
    }
  }

  &__link {
    font-weight: 300;
    display: flex;
    align-items: center;
    transition: color $trans-default;
    color: rgba($color-default-white, 40%);

    @include tablet-desktop {
      font-size: size(16px);
    }

    @include mobile {
      font-size: size(13px);
    }

    @include hover-focus {
      color: $color-default-white;

      svg {
        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}

.footer {
  background-color: $color-nero;

  @include tablet-desktop {
    padding: size(80px) 0 size(24px);
  }

  @include mobile {
    padding: size(33px) 0 size(27px);
  }

  &__container {
    max-width: size(1566px);

    @include mobile-tablet {
      padding-right: size(20px);
      padding-left: size(20px);
    }
  }

  &__content {
    @include tablet-desktop {
      display: grid;
    }

    @include desktop {
      grid-template-columns: size(293px) size(293px) 1fr size(430px);
      grid-gap: size(20px);
    }

    @include tablet {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: size(20px);
      grid-row-gap: size(40px);
    }

    @include mobile {
      display: flex;
      flex-direction: column;
      gap: size(7px);
    }
  }

  &__block {
    display: flex;
    flex-direction: column;

    @include tablet-desktop {
      align-items: flex-start;
    }

    @include mobile {
      align-items: stretch;
    }

    &.is-active {
      .footer__title svg {
        @include mobile {
          transform: rotate(45deg);
        }
      }
    }

    &--form {
      @include mobile {
        order: -1;
      }
    }
  }

  &__title {
    font-family: $ff-cormorant;
    font-weight: 500;
    line-height: 100%;
    margin-top: 0;
    color: $color-default-white;

    @include tablet-desktop {
      font-size: size(28px);
      margin-bottom: size(37px);
    }

    @include mobile {
      font-size: size(21px);
      position: relative;
      display: flex;
      align-items: center;
      margin-bottom: 0;
      padding: size(11px) size(32px) size(11px) 0;
      letter-spacing: 0.02em;
    }

    svg {
      @include tablet-desktop {
        display: none;
      }

      @include mobile {
        position: absolute;
        right: 0;
        display: block;
        width: size(12px);
        height: size(12px);
        transition: transform $trans-default;
        color: rgba($color-default-white, 56%);
      }
    }
  }

  &__list {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    @include tablet-desktop {
      padding: 0;
      gap: size(10px);
    }

    @include mobile {
      padding: size(10px) 0 size(16px);
      gap: size(4px);
    }
  }

  &__item {
    font-weight: 300;

    @include tablet-desktop {
      font-size: size(16px);
    }

    @include mobile {
      font-size: size(13px);
    }
  }

  &__subscribe {
    width: 100%;

    @include mobile {
      padding-top: size(14px);
      padding-bottom: size(36px);
    }
  }

  &__bottom {
    display: grid;

    @include tablet-desktop {
      padding-top: size(86px);
    }

    @include desktop {
      grid-template-columns: size(293px) 1fr size(430px);
      grid-gap: size(20px);
    }

    @include vp-1023 {
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: size(20px);
      grid-row-gap: size(30px);
    }

    @include mobile {
      padding-top: size(27px);
      grid-row-gap: size(19px);
    }
  }

  &__copyright {
    font-weight: 300;
    margin: 0;

    @include tablet-desktop {
      font-size: size(13px);
    }

    @include mobile {
      font-size: size(11px);
    }
  }

  &__bottom-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;

    @include tablet-desktop {
      padding: 0;
    }

    @include desktop {
      column-gap: size(80px);
    }

    @include tablet {
      column-gap: size(20px);
    }

    @include mobile-tablet {
      justify-content: space-between;
      order: -1;
      grid-column: 1/-1;
    }

    @include mobile {
      flex-direction: column;
      padding: size(19px) 0 size(18px);
      border-top: size(1px) solid rgba(255, 255, 255, 4%);
      border-bottom: size(1px) solid rgba(255, 255, 255, 4%);
      gap: size(6px);
    }
  }

  &__bottom-item {
    font-weight: 300;

    @include tablet-desktop {
      font-size: size(13px);
    }

    @include mobile {
      font-size: size(11px);
    }
  }

  &__prompt {
    font-weight: 300;
    display: flex;
    justify-content: flex-end;
    margin: 0;

    @include tablet-desktop {
      font-size: size(13px);
      column-gap: size(10px);
    }

    @include mobile {
      font-size: size(11px);
      column-gap: size(8px);
    }
  }

  &__social {
    @include mobile {
      padding-top: size(14px);
      padding-bottom: size(18px);
    }
  }
}

.subscribe-form {
  &__wrapper {
    position: relative;
    display: flex;
    transition: padding-bottom $trans-default;

    @include tablet-desktop {
      margin-bottom: size(23px);
    }

    @include mobile {
      margin-bottom: size(15px);
    }

    &:has(.is-invalid) {
      @include tablet-desktop {
        padding-bottom: size(3px);
      }

      @include mobile {
        padding-bottom: size(7px);
      }
    }
  }

  &__input {
    flex-grow: 1;

    &.custom-input label input {
      @include tablet-desktop {
        padding-right: size(145px);
      }

      @include mobile {
        padding-right: size(140px);
      }
    }

    &.custom-input svg {
      right: size(115px);
    }
  }

  &__button {
    font-weight: 300;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    height: size(56px);
    cursor: pointer;
    transition: color $trans-default;
    color: rgba($color-default-white, 40%);
    border: none;
    outline: none;
    background: none;

    @include tablet-desktop {
      font-size: size(16px);
      min-height: size(56px);
      padding: size(18px) 0;
    }

    @include mobile {
      font-size: size(14px);
      min-height: size(46px);
      padding: size(10px) 0 size(18px);
    }

    @include hover-focus {
      color: $color-default-white;
    }
  }

  &__prompt {
    font-weight: 300;
    font-style: normal;
    line-height: normal;
    max-width: size(350px);
    margin: 0;
    color: rgba($color-default-white, 30%);

    @include tablet-desktop {
      font-size: size(13px);
    }

    @include mobile {
      font-size: size(10px);
    }

    a {
      transition: color $trans-default;
      color: rgba($color-default-white, 70%);

      @include hover-focus {
        color: $color-default-white;
      }
    }
  }
}
