.hero-slider {
  margin: 0 0 size(80px) 0;

  @include mobile-tablet {
    margin: 0 0 size(30px) 0;
  }

  &__button {
    @include tablet-desktop {
      position: absolute;
      z-index: 2;
      top: 0;
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: size(77px);
      padding: 0;
      cursor: pointer;
      border: none;
      outline: none;
      background: none;
    }

    @include mobile {
      display: none;
    }

    svg {
      width: size(35px);
      height: size(35px);
      transition: transform $trans-default;
    }

    &--next {
      right: 0;

      @include hover-focus {
        svg {
          transform: scale(1.1, 1.1) translateX(10%);
        }
      }
    }

    &--prev {
      left: 0;

      svg {
        transform: scale(-1, 1);
      }

      @include hover-focus {
        svg {
          transform: scale(-1.1, 1.1) translateX(10%);
        }
      }
    }
  }
}

.hero-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  isolation: isolate;

  @include tablet-desktop {
    min-height: size(940px);
  }

  @include mobile {
    min-height: size(530px);
  }

  &__img {
    display: contents;

    video,
    img {
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    flex-grow: 1;
    justify-content: flex-end;
    max-width: size(1566px);
    padding-bottom: size(160px);

    @include mobile {
      padding: 0 size(20px) size(76px);
    }
  }

  &__title {
    font-family: $ff-cormorant;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    text-transform: uppercase;
    color: $color-default-white;

    @include tablet-desktop {
      font-size: size(70px);
      margin-bottom: size(22px);
    }

    @include mobile {
      font-size: size(36px);
      margin-bottom: size(6px);
    }
  }

  &__text {
    font-weight: 300;
    margin-top: 0;
    color: $color-default-white;

    @include tablet-desktop {
      font-size: size(32px);
      margin-bottom: size(70px);
    }

    @include mobile {
      font-size: size(18px);
      margin-bottom: size(30px);
    }
  }

  &__link {
    @include tablet-desktop {
      margin: 0 size(6px);
    }
  }
}
