.info {
  padding-bottom: 30px;

  h3 {
    font-size: 18px;
    font-weight: 300;
    margin-top: 0;
    color: $white-70;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  p {
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    margin-top: 0;
    color: $white-56;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 13px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;
    gap: 14px;

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }

  li {
    font-size: 16px;
    font-weight: 300;
    line-height: 140%;
    position: relative;
    padding-left: 24px;
    color: $white-56;

    &::before {
      position: absolute;
      top: 11px;
      left: 0;
      width: 6px;
      height: 6px;
      content: "";
      border-radius: 50%;
      background-color: $color-barley-corn;
    }
  }

  a {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    transition: opacity $trans-default;
    color: $color-barley-corn;

    @include hover-focus {
      opacity: 0.5;
    }

    &:not(:last-child) {
      margin-bottom: 27px;
    }
  }
}
