.info {
  @include tablet-desktop {
    padding-bottom: size(30px);
  }

  @include mobile {
    padding-bottom: size(24px);
  }


  h3 {
    font-weight: 300;
    margin-top: 0;
    color: $white-70;

    @include tablet-desktop {
      font-size: size(18px);
    }

    @include mobile {
      font-size: size(14px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(10px);
      }

      @include mobile {
        margin-bottom: size(8px);
      }
    }
  }

  p {
    font-weight: 300;
    line-height: 140%;
    margin-top: 0;
    color: $white-56;

    @include tablet-desktop {
      font-size: size(16px);
    }

    @include mobile {
      font-size: size(13px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(13px);
      }

      @include mobile {
        margin-bottom: size(10px);
      }
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
    list-style: none;

    @include tablet-desktop {
      gap: size(14px);
    }

    @include mobile {
      gap: size(11px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(12px);
      }

      @include mobile {
        margin-bottom: size(10px);
      }
    }
  }

  li {
    font-weight: 300;
    line-height: 140%;
    position: relative;
    color: $white-56;

    @include tablet-desktop {
      font-size: size(16px);
      padding-left: size(24px);
    }

    @include mobile {
      font-size: size(13px);
      padding-left: size(19px);
    }

    &::before {
      position: absolute;
      left: 0;
      content: "";
      border-radius: 50%;
      background-color: $color-barley-corn;

      @include tablet-desktop {
        top: size(11px);
        width: size(6px);
        height: size(6px);
      }

      @include mobile {
        top: size(6px);
        width: size(5px);
        height: size(5px);
      }
    }
  }

  a {
    font-size: size(14px);
    font-weight: 400;
    display: inline-block;
    transition: opacity $trans-default;
    color: $color-barley-corn;

    @include tablet-desktop {
      font-size: size(14px);
    }

    @include mobile {
      font-size: size(11px);
    }

    @include hover-focus {
      opacity: 0.5;
    }

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(27px);
      }

      @include mobile {
        margin-bottom: size(22px);
      }
    }
  }
}
