.main-nav {
  @include mobile-tablet {
    bottom: 0;
    left: 0;
    min-height: 100vh;
    /* stylelint-disable-next-line */
    min-height: calc((100 * var(--vh, 1vh)) - var(--header-height, 1vh));
    pointer-events: none;
    position: fixed;
    width: 100%;
    z-index: 100;
    display: flex;
    visibility: hidden;
    transition: opacity $trans-600 0.3s, visibility $trans-600 0.3s;

    &::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.7);
      opacity: 0;
      transition: opacity $trans-default 0.2s;
    }

    &.is-active {
      pointer-events: all;
      visibility: visible;
      transition: visibility $trans-600;

      &::before {
        opacity: 1;
        transition: opacity $trans-default;
      }

      .main-nav__wrapper {
        transform: translate3d(0, 0, 0);
        transition: transform $trans-modal 0.1s;
      }
    }
  }

  &__wrapper {
    display: flex;
    gap: size(44px);
    justify-content: center;

    @include mobile-tablet {
      background-color: $color-black;
      transform: translate3d(-100%, 0, 0);
      width: size(280px);
      position: relative;
      z-index: 10;
      transition: transform $trans-modal;
      display: block;
    }
  }

  &__list {
    align-items: center;
    display: flex;
    gap: size(44px);
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;

    @include mobile-tablet {
      flex-direction: column;
      padding: size(20px);
      align-items: stretch;
      gap: 0;
      border-bottom: 1px solid $white-10;
    }
  }

  &__item {
    @include mobile-tablet {
      display: flex;
    }

    &--last {
      @include mobile-tablet {
        display: flex;
        flex-direction: column;
        gap: 0;
      }
    }
  }

  &__link {
    color: $white-70;
    cursor: pointer;
    display: flex;
    font-size: size(14px);
    letter-spacing: 0.06em;
    line-height: size(14px);
    padding: size(13px) 0;
    text-transform: uppercase;
    transition: color $trans-default;

    @include desktop {
      &-arrow {
        display: none;
      }
    }

    @include mobile-tablet {
      font-size: size(12px);
      line-height: size(12px);
      padding: size(15px) 0;
      width: 100%;
      position: relative;

      &-arrow {
        display: flex;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
        transition: transform $trans-default;
        height: size(12px);
        width: size(12px);
      }
    }

    &[data-sub-menu] {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 100%;
        z-index: 10;

        @include mobile-tablet {
          display: none;
        }
      }
    }

    @include hover-focus {
      color: $color-default-white;
    }
  }

  &__toggle {
    display: none;
  }

  &__block {
    @include mobile-tablet {
      width: 100%;

      &.is-active {
        .main-nav__link-arrow {
          transform: translateY(-50%) rotate(0deg);
        }
      }
    }

    &--mobile {
      display: none;

      @include mobile-tablet {
        display: block;
      }
    }
  }
}
