.main-collection {
  &__title {
    font-size: size(50px);
    line-height: size(50px);
    color: $color-default-white;
    text-align: center;
    margin: 0 0 size(40px) 0;
    font-family: $ff-cormorant;
    font-weight: 400;
  }

  &__swiper {
    position: relative;
    margin: 0 size(-20px);
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    width: size(470px);
    padding: 0 size(20px);
  }

  &__button {
    align-items: center;
    background-color: $color-transparent;
    border: none;
    display: flex;
    height: size(50px);
    justify-content: center;
    right: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translate3D(0, -50%, 0);
    width: size(50px);
    z-index: 2;
    cursor: pointer;
    transition: opacity $trans-600;

    @include hover-focus {
      opacity: 0.7;
    }

    &--prev {
      transform: translate3d(0, -50%, 0) rotate(-180deg);
      left: 0;
      right: auto;
    }

    svg {
      height: size(24px);
      width: size(24px);
      pointer-events: none;
    }
  }
}
