.modal-cart {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: size(20px) size(9px) 0 size(30px);
  }

  &__title {
    font-family: $ff-cormorant;
    font-size: size(44px);
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    margin-bottom: size(40px);
    color: $color-default-white;
  }

  &__scroll-wrapper {
    overflow-y: auto;
    flex-grow: 1;
    height: size(100px);
    scrollbar-width: thin;
    scrollbar-color: $color-peru $color-nero;

    &::-webkit-scrollbar {
      @include tablet-desktop {
        width: size(3px);
      }

      @include mobile {
        width: size(2px);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $color-peru;

      @include tablet-desktop {
        border-radius: size(30px);
      }

      @include mobile {
        border-radius: size(20px);
      }
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 size(28px) 0 0;
    list-style: none;
    gap: size(20px);
  }

  &__item {
    width: size(420px);
    padding-bottom: size(19px);

    &:not(:last-child) {
      border-bottom: size(1px) solid rgba($color-default-white, 4%);
    }
  }

  &__footer {
    width: 100%;
    padding: size(37px) size(40px) size(32px) size(30px);
  }

  &__total {
    font-size: size(22px);
    font-weight: 300;
    display: flex;
    justify-content: space-between;
    margin-top: 0;
    margin-bottom: size(30px);
    padding-right: size(10px);
    color: $color-barley-corn;
  }

  &__buttons {
    display: flex;
    gap: size(20px);
  }

  &__button {
    flex-grow: 1;
  }
}

.modal-cart-item {
  position: relative;
  display: flex;

  &__delete {
    position: absolute;
    z-index: 1;
    top: size(10px);
    right: 0;
    width: size(18px);
    height: size(18px);
    padding: 0;
    cursor: pointer;
    transition: color $trans-default;
    color: rgba($color-default-white, 30%);
    border: none;
    background: $color-transparent;

    svg {
      width: 100%;
      height: 100%;
    }

    @include hover-focus {
      color: $color-default-white;
    }
  }

  &__img {
    flex-shrink: 0;
    width: size(96px);
    height: size(142px);
    margin-right: size(20px);
  }

  &__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: size(10px);
    padding-bottom: size(10px);
  }

  &__name {
    font-size: size(16px);
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: size(7px);
    color: rgba($color-default-white, 70%);
  }

  &__size {
    font-size: size(13px);
    font-weight: 300;
    margin-top: 0;
    margin-bottom: size(7px);
    color: rgba($color-default-white, 40%);

    span {
      color: $color-default-white;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
    user-select: none;
    gap: size(20px);
  }

  &__price {
    font-size: size(14px);
    font-weight: 500;
    margin: 0;
    text-align: right;
    color: rgba($color-default-white, 70%);
  }
}
