.modal {
  position: fixed;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  visibility: hidden;
  overflow-y: auto;
  flex-direction: column;
  pointer-events: none;
  opacity: 0;
  background-color: rgba($color-default-black, 0.8);
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &:not(.modal--cart) {
    transition: opacity $trans-modal, transform $trans-modal, visibility $trans-modal;
    transform: scale(1.2);
  }

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    justify-content: center;
    width: 100%;
    min-height: 100%;
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    position: relative;
    background-color: $color-nero;

    @include vp-767 {
      width: 100%;
    }
  }

  &__close-btn {
    position: absolute;
    z-index: 1;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    padding: 0;
    cursor: pointer;
    transition: color $trans-default;
    color: rgba($color-default-white, 30%);
    border: none;
    background: $color-transparent;

    svg {
      width: 100%;
      height: 100%;
    }

    @include hover-focus {
      color: $color-default-white;
    }
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &--gallery {
    .modal__wrapper {
      height: 100%;
    }

    .modal__content {
      width: 100%;
      height: 100%;
    }

    .gallery-slider {
      width: 100%;
      height: 100%;
    }
  }

  &--cart {
    overflow: hidden;
    transition: opacity $trans-600 0.3s, visibility $trans-600 0.3s;

    .modal__wrapper {
      justify-content: flex-end;
      height: 100%;
      min-height: auto;
      max-height: 100%;
    }

    .modal__content {
      width: auto;
      height: 100%;
      transition: transform $trans-modal;
      transform: translateX(100%);
    }

    &.is-active {
      transition: opacity $trans-600, visibility $trans-600;

      .modal__content {
        transform: translateX(0);
      }
    }
  }

  &.is-active {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;

    &:not(.modal--cart) {
      transform: scale(1);
    }
  }
}
