.set-card {
  @include tablet-desktop {
    padding-top: size(24px);
    padding-bottom: size(100px);
  }

  @include mobile {
    padding-top: size(13px);
    padding-bottom: size(60px);
  }

  &__container {
    position: relative;
    display: flex;
    max-width: size(1566px);

    @include tablet-desktop {
      align-items: flex-start;
    }

    @include desktop {
      gap: size(110px);
    }

    @include tablet {
      gap: size(55px);
    }

    @include mobile {
      flex-direction: column;
      row-gap: size(27px);
    }
  }

  &__content {
    @include tablet-desktop {
      position: sticky;
      top: calc(var(--header-height) + size(20px));
      flex-shrink: 0;
    }

    @include desktop {
      display: flex;
      overflow: hidden;
      width: calc(100% - #{size(540px)});
      height: size(1027px);
      gap: size(13px);
    }

    @include tablet {
      width: calc(100% - #{size(425px)});
      height: size(454px);
    }

    @include mobile {
      width: calc(100% + #{size($containerSideOffsetMobile)} * 2);
      height: size(480px);
      margin-left: size(-$containerSideOffsetMobile);
    }

    .gallery-slider__slide {
      cursor: pointer;
    }
  }

  &__aside {
    @include tablet-desktop {
      flex-grow: 1;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__contents {
    width: 100%;
  }
}
