.set-card {
  @include tablet-desktop {
    padding-top: 24px;
    padding-bottom: 50px;
  }

  @include mobile {
    padding-top: 13px;
    padding-bottom: 30px;
  }

  &__container {
    position: relative;
    display: flex;
    max-width: 1566px;

    @include tablet-desktop {
      align-items: flex-start;
    }

    @include desktop {
      gap: 110px;
    }

    @include tablet {
      gap: 55px;
    }

    @include mobile {
      flex-direction: column;
      row-gap: 27px;
    }
  }

  &__content {
    position: sticky;
    top: 20px;
    flex-shrink: 0;

    @include desktop {
      display: flex;
      width: calc(100% - 540px);
      height: 1027px;
      gap: 13px;
    }

    @include tablet {
      width: calc(100% - 425px);
      height: 836px;
    }

    .gallery-slider__slide {
      cursor: pointer;
    }
  }

  &__aside {
    @include tablet-desktop {
      flex-grow: 1;
    }

    @include mobile {
      width: 100%;
    }
  }

  &__contents {
    width: 100%;
  }
}
