.sizes {
  background-color: $color-nero;

  @include tablet-desktop {
    padding: size(40px) size(50px);
  }

  @include mobile {
    padding: size(24px) size(20px);
  }

  &__title {
    font-family: $ff-cormorant;
    font-weight: 400;
    line-height: 100%;
    margin-top: 0;
    color: $color-default-white;

    @include tablet-desktop {
      font-size: size(50px);
      margin-bottom: size(42px);
    }

    @include mobile {
      font-size: size(32px);
      margin-bottom: size(32px);
    }
  }

  &__nav {
    display: flex;

    @include tablet-desktop {
      margin-bottom: size(45px);
      column-gap: size(60px);
    }

    @include mobile {
      margin-bottom: size(31px);
      column-gap: size(40px);
    }
  }

  &__nav-item {
    font-weight: 300;
    display: inline-flex;
    padding: 0 0 size(8px);
    cursor: pointer;
    transition: color $trans-default, border-color $trans-default;
    border: none;
    border-bottom-width: size(2px);
    border-bottom-style: solid;
    outline: none;
    background: none;

    @include tablet-desktop {
      font-size: size(20px);
    }

    @include mobile {
      font-size: size(13px);
      width: min-content;
      text-align: left;
    }

    @include hover-focus {
      color: $color-barley-corn;
    }

    &:not(.is-active) {
      color: $white-56;
      border-color: $color-transparent;
    }

    &.is-active {
      color: $color-barley-corn;
      border-color: $color-barley-corn;
    }
  }

  &__tabs {
    transition: height $trans-default;

    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(26px);
      }

      @include mobile {
        margin-bottom: size(32px);
      }
    }
  }

  &__tab {
    width: 100%;
  }

  &__table {
    &:not(:last-child) {
      @include tablet-desktop {
        margin-bottom: size(51px);
      }

      @include mobile {
        margin-bottom: size(41px);
      }
    }

    &--bras {
      table {
        min-width: size(455px);
      }

      td,
      th {
        width: calc(100% / 7);
      }
    }

    &--belts {
      table {
        min-width: size(326px);
      }

      td,
      th {
        @include tablet-desktop {
          width: calc(100% / 7);
        }

        @include mobile {
          width: calc(100% / 5);
        }
      }
    }

    &--international {
      table {
        min-width: size(357px);
      }

      td,
      th {
        width: calc(100% / 4);
      }
    }
  }

  &__prompt {
    font-weight: 300;
    line-height: 140%;
    color: $white-56;

    @include tablet-desktop {
      font-size: size(16px);
    }

    @include mobile {
      font-size: size(13px);
    }

    &:last-child {
      margin-bottom: 0;
    }

    a {
      transition: opacity $trans-default;
      color: $color-barley-corn;

      @include hover-focus {
        opacity: 0.5;
      }
    }
  }
}
