.swiper-pagination {
  position: absolute;
  z-index: 2;
  right: 0;
  bottom: size(40px);
  left: 0;
  display: flex;
  width: calc(100% - #{size(40px)});
  max-width: size(1497px);
  margin-right: auto;
  margin-left: auto;
  column-gap: size(10px);

  @include tablet-desktop {
    bottom: size(40px);
  }

  @include mobile {
    bottom: size(20px);
    justify-content: center;
  }
}

.swiper-pagination-bullet {
  z-index: 10;
  display: block;
  flex-grow: 1;
  max-width: size(60px);
  height: size(2px);
  opacity: 1;
  background-color: rgba($color-default-white, 30%);
  background-image: linear-gradient(90deg, $color-peru 50%, rgba($color-default-white, 30%) 0 100%);
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 200% 100%;
}

.swiper-pagination-bullet-active {
  background-position: var(--progress) 100%;

  ~ .swiper-pagination-bullet {
    background-position: 100% 100%;
  }
}
