.table {
  &__title {
    font-weight: 300;
    margin-top: 0;
    color: $white-70;

    @include tablet-desktop {
      font-size: size(26px);
      margin-bottom: size(24px);
    }

    @include mobile {
      font-size: size(20px);
      margin-bottom: size(14px);
    }
  }

  &__scroll-wrapper {
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: size(13px);
    scrollbar-width: thin;
    scrollbar-color: $color-peru $color-nero;

    &::-webkit-scrollbar {
      @include tablet-desktop {
        height: size(3px);
      }

      @include mobile {
        height: size(2px);
      }
    }

    &::-webkit-scrollbar-thumb {
      background: $color-peru;

      @include tablet-desktop {
        border-radius: size(30px);
      }

      @include mobile {
        border-radius: size(20px);
      }
    }
  }

  table {
    width: 100%;
    height: auto;
    border-spacing: 0;
    border-collapse: collapse;
    border: size(1px) solid $white-10;
  }

  td,
  th {
    font-size: size(14px);
    line-height: normal;
    padding: size(10.5px);
    text-align: center;
    border: size(1px) solid $white-10;

    @include tablet-desktop {
      width: calc(100% / 7);
    }

    @include mobile {
      font-size: size(11px);
      padding: size(9.5px);
    }
  }

  th {
    font-weight: 500;
    color: $white-40;
  }

  td {
    &:not(.bold) {
      font-weight: 400;
      color: $white-70;
    }

    &.bold {
      font-weight: 500;
      color: $white-40;
    }
  }
}
