mixin counter(num = 1)
  .counter(data-counter="element")
    button.counter__button(type="button", aria-label="Уменьшить", disabled=num === 1, data-counter="decrease")
      +icon("icon-minus", 12, 12)
    span.counter__num(data-counter="value") !{num}
    button.counter__button(type="button", aria-label="Увеличить", data-counter="increase")
      +icon("icon-plus", 12, 12)
