mixin table(props = {})
  - const {head, body, title} = props
  .table&attributes(attributes)
    if title
      h3.table__title !{title}
    .table__scroll-wrapper
      table
        thead
          each row in head
            tr
              each cell in row
                - const {text, cellAttributes} = cell
                th&attributes(cellAttributes) !{text}
        tbody
          each row in body
            tr
              each cell in row
                - const {text, cellAttributes} = cell
                td&attributes(cellAttributes) !{text}
