@font-face {
  font-style: italic;
  font-weight: 400;
  font-family: "Cormorant";

  font-display: swap;
  src: url("../fonts/cormorant-italic.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Cormorant";

  font-display: swap;
  src: url("../fonts/cormorant-regular.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 500;
  font-family: "Cormorant";

  font-display: swap;
  src: url("../fonts/cormorant-medium.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "Geologica";

  font-display: swap;
  src: url("../fonts/geologica-bold.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Geologica";

  font-display: swap;
  src: url("../fonts/geologica-light.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 200;
  font-family: "Geologica";
  font-display: swap;
  src: url("../fonts/geologica-extraeight.woff2") format("woff2");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Geologica";

  font-display: swap;
  src: url("../fonts/geologica-regular.woff2") format("woff2");
}
