mixin footer(footerMods)
  footer.footer(class=footerMods)
    .container.footer__container
      .footer__content(data-accordion="parent", data-destroy="(max-width: 767px)")
        .footer__block(data-accordion="element")
          h2.footer__title(data-accordion="button")
            +icon("icon-plus", 12, 12)
            | Каталог
          .footer__block-wrapper(data-accordion="content")
            ul.footer__list
              li.footer__item
                a.footer__link.link(href="#") Коллекции
              li.footer__item
                a.footer__link.link(href="#") Бюстгальтеры
              li.footer__item
                a.footer__link.link(href="#") Трусики
              li.footer__item
                a.footer__link.link(href="#") Аксессуары
              li.footer__item
                a.footer__link.link(href="#") Пояса для чулок
              li.footer__item
                a.footer__link.link(href="#") Базовое белье
        .footer__block(data-accordion="element")
          h2.footer__title(data-accordion="button")
            +icon("icon-plus", 12, 12)
            | Покупателю
          .footer__block-wrapper(data-accordion="content")
            ul.footer__list
              li.footer__item
                a.footer__link.link(href="#") Компания
              li.footer__item
                a.footer__link.link(href="#") Контакты
              li.footer__item
                a.footer__link.link(href="#") Доставка
              li.footer__item
                a.footer__link.link(href="#") Оплата
              li.footer__item
                a.footer__link.link(href="#") Размерный гид
              li.footer__item
                a.footer__link.link(href="#") Возврат
        .footer__block(data-accordion="element")
          h2.footer__title(data-accordion="button")
            +icon("icon-plus", 12, 12)
            | Свяжитесь с нами
          .footer__block-wrapper(data-accordion="content")
            ul.footer__social.social-list
              li.social-list__item
                a.social-list__link(href="#")
                  .social-list__icon
                    +icon("icon-telegram", 26, 26)
                    +icon("icon-telegram-filled", 26, 26)
                  | Telegram
              li.social-list__item
                a.social-list__link(href="#")
                  .social-list__icon
                    +icon("icon-whats-app", 26, 26)
                    +icon("icon-whats-app-filled", 26, 26)
                  | WhatsApp
              li.social-list__item
                a.social-list__link(href="mailto:miss@misstease.ru")
                  .social-list__icon
                    +icon("icon-mail", 26, 26)
                    +icon("icon-mail-filled", 26, 26)
                  | miss@misstease.ru
        .footer__block.footer__block--form
          h2.footer__title Будь в курсе всех событий
          form.footer__subscribe.subscribe-form
            .subscribe-form__wrapper
              +custom-input({
                inputType: "email",
                inputLabel: "Ваш e-mail",
                inputName: "user-mail",
              }).subscribe-form__input
              button.subscribe-form__button(type="submit") Подписаться
            p.subscribe-form__prompt Нажимая кнопку "Подписаться", вы соглашаетесь с&nbsp;<a href="#">Политикой обработки персональных данных</a>
      .footer__bottom
        p.footer__copyright © 2023. MissTease
        ul.footer__bottom-list
          li.footer__bottom-item
            a.footer__bottom-link.link(href="#") Юридическая информация
          li.footer__bottom-item
            a.footer__bottom-link.link(href="#") Политика конфиденциальности
          li.footer__bottom-item
            a.footer__bottom-link.link(href="#") Договор оферты
        p.footer__prompt
          span Дизайн
          a.link(href="#") Indigo Amigo
