mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Коллекции"
      },
      {
        href: "#",
        text: "Бюстгальтеры"
      },
      {
        href: "#",
        text: "Трусики"
      },
      {
        href: "#",
        text: "Аксессуары"
      },
      {
        href: "#",
        text: "Пояса для чулок"
      },
      {
        text: "Базовое белье",
        subMenu: true,
        icon: "icon-arrow-down"
      }
    ]

  header.header(class=headerMods, data-header, data-scroll-lock-fill-gap)
    .header__wrapper
      .container
        .header__top
          button.header__sandwich.sandwich(type="button" aria-label="Переключатель отображения меню" aria-pressed="false", data-sandwich)
            span.sandwich__menu
          .header__delivery(data-da=".main-nav__wrapper, 1023, last")
            +header-delivery()
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +img("content", "header-logo", "png", "190", "50", "Логотип компании")
          button.header__basket(data-open-modal="cart")
            +icon("icon-basket", "24", "24")
            span.header__basket-count 6
        nav.main-nav(data-nav="menu")
          .main-nav__wrapper(data-nav="wrapper")
            ul.main-nav__list
              each link in headerLinks
                - const activeState = currentUrl === link.href
                li.main-nav__item
                  if(activeState)
                    a.main-nav__link.is-active(href=link.href)= link.text
                  else
                    a.main-nav__link(href=link.href, data-sub-menu=link.subMenu ? "link" : null)= link.text
                      if(link.icon)
                        +icon(link.icon, "12", "12").main-nav__link-arrow
          .main-nav__submenu
            //+nav-submenu()

