mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "#",
        text: "Коллекции"
      },
      {
        href: "#",
        text: "Бюстгальтеры"
      },
      {
        href: "#",
        text: "Трусики"
      },
      {
        href: "#",
        text: "Аксессуары"
      },
      {
        href: "#",
        text: "Пояса для чулок"
      }
    ]

  header.header(class=headerMods, data-header, data-scroll-lock-fill-gap)
    .header__wrapper
      .container
        .header__top
          button.header__sandwich.sandwich(type="button", aria-label="Переключатель отображения меню", aria-pressed="false", data-sandwich)
            span.sandwich__menu
          .header__delivery(data-da=".main-nav__wrapper, 1023, last")
            +header-delivery()
          a.header__logo(href="index.html", aria-label="Переход на главную")
            +img("content", "header-logo", "png", "190", "50", "Логотип компании")
          #{currentUrl === "cart.html" ? "span" : "a"}.header__basket(href=currentUrl !== "cart.html" && "cart.html", data-cart-button=currentUrl !== "cart.html" && "modal")
            +icon("icon-basket", "24", "24")
            span.header__basket-count 6
        nav.main-nav(data-nav="menu")
          .main-nav__wrapper(data-nav="wrapper")
            ul.main-nav__list
              li.main-nav__item
                a.main-nav__link(href="#") Коллекции
              li.main-nav__item
                a.main-nav__link(href="#") Бюстгальтеры
              li.main-nav__item
                a.main-nav__link(href="#") Трусики
              li.main-nav__item
                a.main-nav__link(href="#") Аксессуары
              li.main-nav__item
                a.main-nav__link(href="#") Пояса для чулок
              li.main-nav__item.main-nav__item--last(data-accordion="parent", data-destroy="(max-width: 767px)")
                .main-nav__block(data-accordion="element")
                  span.main-nav__link(data-sub-menu="link", data-accordion="button") Базовое белье
                    +icon("icon-arrow-down", "12", "12").main-nav__link-arrow
                  .main-nav__block-inner(data-accordion="content")
                .main-nav__block.main-nav__block--mobile(data-accordion="element")
                  span.main-nav__link(data-accordion="button") Покупателю
                    +icon("icon-arrow-down", "12", "12").main-nav__link-arrow
                  .main-nav__block-inner(data-accordion="content")
                    ul.nav-submenu__list
                      li.nav-submenu__item
                        a.nav-submenu__link(href="#") Компания
                      li.nav-submenu__item
                        a.nav-submenu__link(href="#") Контакты
                      li.nav-submenu__item
                        a.nav-submenu__link(href="#") Доставка
                      li.nav-submenu__item
                        a.nav-submenu__link(href="#") Оплата
                      li.nav-submenu__item
                        a.nav-submenu__link(href="#") Размерный гид
                      li.nav-submenu__item
                        a.nav-submenu__link(href="#") Возврат
          .main-nav__submenu
    +nav-submenu()
