mixin header(headerMods, currentUrl)
  -
    const headerLinks = [
      {
        href: "№",
        text: "Коллекции"
      },
      {
        href: "#",
        text: "Бюстгальтеры"
      },
      {
        href: "#",
        text: "Трусики"
      },
      {
        href: "#",
        text: "Аксессуары"
      },
      {
        href: "#",
        text: "Пояса для чулок"
      },
    ]

  header.header(class=headerMods)
    .container
      .header__wrapper
        .header__top
          .header__delivery.header-delivery
            a.header-delivery__link
              +icon("icon-globus", "18", "18")
              span Россия ₽
            .header-delivery__inner
              p.header-delivery__text Мы осуществляем доставку по всему миру
              ul.header-delivery__list
                li.header-delivery__item
                  a.header-delivery__country

        .header__bottom
      if(currentUrl === "index.html")
        span.header__logo Логотип
      else
        a.header__logo(href="index.html", aria-label="Переход на главную") Логотип
      nav.main-nav
        button.main-nav__toggle.btn-reset(type="button", aria-label="Переключатель отображения меню", aria-pressed="false")
          +icon("icon-burger", 20, 20)
        .main-nav__wrapper
          ul.main-nav__list
            each link in headerLinks
              - const activeState = currentUrl === link.href
              li.main-nav__item
                if(activeState)
                  span.main-nav__link.is-active= link.text
                else
                  a.main-nav__link(href=link.href)= link.text
