-
  const cartItems = [
    {
      name: 'Гартеры Burlesque',
      price: '3 300 ₽ за шт.',
      totalPrice: '3 300 ₽',
      size: '',
      img: 'cart-img-3',
      quantity: 1
    },
    {
      name: 'Пояс Burlesque',
      price: '3 800 ₽ за шт.',
      totalPrice: '3 800 ₽',
      size: 'М',
      img: 'cart-img-2',
      quantity: 1
    },
    {
      name: 'Бюстгальтер Burlesque',
      price: '4 300 ₽ за шт.',
      totalPrice: '4 300 ₽',
      size: '70C',
      img: 'cart-img-4',
      quantity: 1
    },
    {
      name: 'Трусики Burlesque',
      price: '1 840 ₽ за шт.',
      totalPrice: '3 680 ₽',
      oldPrice: '2 300 ₽',
      discount: '-20%',
      size: 'M',
      img: 'cart-img-5',
      quantity: 2
    }
  ]
