-
  const modalCartItems = [
    {
      name: 'Стикини',
      size: '',
      price: '1 500 ₽',
      img: 'cart-img-1'
    },
    {
      name: 'Пояс Burlesque',
      size: 'М',
      price: '3 800 ₽',
      img: 'cart-img-2'
    },
    {
      name: 'Гартеры Burlesque',
      size: '',
      price: '3 300 ₽',
      img: 'cart-img-3'
    },
    {
      name: 'Бюстгальтер Burlesque',
      size: '70C',
      price: '4 300 ₽',
      img: 'cart-img-4'
    },
    {
      name: 'Трусики Burlesque',
      size: 'М',
      price: '4 300 ₽',
      img: 'cart-img-5'
    }
  ]
