-
  const orderCartItems = [
    {
      name: 'Гартеры Burlesque',
      size: '',
      quantity: 1,
      counter: false,
      price: '3 300 ₽',
      img: 'cart-img-3',
      mod: 'small',
      deleteBtn: false
    },
    {
      name: 'Пояс Burlesque',
      size: 'М',
      quantity: 1,
      counter: false,
      price: '3 800 ₽',
      img: 'cart-img-2',
      mod: 'small',
      deleteBtn: false
    },
    {
      name: 'Бюстгальтер Burlesque',
      size: 'M',
      quantity: 1,
      counter: false,
      price: '4 300 ₽',
      img: 'cart-img-4',
      mod: 'small',
      deleteBtn: false
    },
    {
      name: 'Трусики Burlesque',
      size: 'М',
      quantity: 1,
      counter: false,
      price: '4 300 ₽',
      img: 'cart-img-5',
      mod: 'small',
      deleteBtn: false
    },
    {
      name: 'Стикини',
      size: '',
      quantity: 1,
      counter: false,
      price: '1 500 ₽',
      img: 'cart-img-1',
      mod: 'small',
      deleteBtn: false
    },
  ]
