-
  const setItems = [
    {
      name: 'Стикини',
      price: '1 500 ₽',
      size: false,
      img: 'cart-img-1'
    },
    {
      name: 'Гартеры Burlesque',
      price: '3 300 ₽',
      size: false,
      img: 'cart-img-3'
    },
    {
      name: 'Пояс Burlesque',
      price: '3 800 ₽',
      size: true,
      img: 'cart-img-2'
    },
    {
      name: 'Трусики Burlesque',
      price: '4 300 ₽',
      size: true,
      img: 'cart-img-5'
    },
    {
      name: 'Бюстгальтер Burlesque',
      price: '4 300 ₽',
      size: true,
      img: 'cart-img-4'
    },
  ]

  const lookItems = [
    {
      name: 'Кожаная маска',
      price: '1 300 ₽',
      img: 'cart-img-6'
    },
    {
      name: 'Золотые наручники',
      price: '2 100 ₽',
      img: 'cart-img-7'
    },
    {
      name: 'Кошачья кнутка',
      price: '1 800 ₽',
      img: 'cart-img-8'
    },
  ]

  const selectList = [
    {text: '70B', value: '70B'},
    {text: '70C', value: '70C'},
    {text: '70D', value: '70D'},
    {text: '75B', value: '75B'},
    {text: '75C', value: '75C'},
    {text: '75D', value: '75D'},
    {text: '80B', value: '80B'},
    {text: '80C', value: '80C'},
    {text: '80D', value: '80D'},
    {text: '75A', value: '75A'},
  ]
