-
  const brasSizes = {
    title: "Бюстгальтеры",
    head: [
      [
        {
          text: "Обхват под грудью, см",
          cellAttributes: {rowspan: "2"}
        },
        {
          text: "Размер под грудью",
          cellAttributes: {rowspan: "2"}
        },
        {
          text: "Обхват груди, см",
          cellAttributes: {colspan: "5"}
        },
      ],
      [
        {
          text: "A",
          cellAttributes: null
        },
        {
          text: "B",
          cellAttributes: null
        },
        {
          text: "C",
          cellAttributes: null
        },
        {
          text: "D",
          cellAttributes: null
        },
        {
          text: "E",
          cellAttributes: null
        },
      ],
    ],
    body: [
      [
        {
          text: "68-73",
          cellAttributes: null
        },
        {
          text: "70",
          cellAttributes: null
        },
        {
          text: "73-77",
          cellAttributes: null
        },
        {
          text: "78-83",
          cellAttributes: null
        },
        {
          text: "84-88",
          cellAttributes: null
        },
        {
          text: "89-93",
          cellAttributes: null
        },
        {
          text: "94-98",
          cellAttributes: null
        },
      ],
      [
        {
          text: "74-78",
          cellAttributes: null
        },
        {
          text: "75",
          cellAttributes: null
        },
        {
          text: "78-83",
          cellAttributes: null
        },
        {
          text: "84-88",
          cellAttributes: null
        },
        {
          text: "89-93",
          cellAttributes: null
        },
        {
          text: "94-98",
          cellAttributes: null
        },
        {
          text: "99-103",
          cellAttributes: null
        },
      ],
      [
        {
          text: "79-83",
          cellAttributes: null
        },
        {
          text: "80",
          cellAttributes: null
        },
        {
          text: "84-88",
          cellAttributes: null
        },
        {
          text: "89-93",
          cellAttributes: null
        },
        {
          text: "94-98",
          cellAttributes: null
        },
        {
          text: "99-103",
          cellAttributes: null
        },
        {
          text: "",
          cellAttributes: null
        },
      ],
      [
        {
          text: "84-88",
          cellAttributes: null
        },
        {
          text: "85",
          cellAttributes: null
        },
        {
          text: "89-93",
          cellAttributes: null
        },
        {
          text: "94-98",
          cellAttributes: null
        },
        {
          text: "99-103",
          cellAttributes: null
        },
        {
          text: "",
          cellAttributes: null
        },
        {
          text: "",
          cellAttributes: null
        },
      ],
    ]
  }

  const beltsSizes = {
    title: "Трусики и пояса",
    head: [
      [
        {
          text: "Размер",
          cellAttributes: null
        },
        {
          text: "XS",
          cellAttributes: null
        },
        {
          text: "S",
          cellAttributes: null
        },
        {
          text: "M",
          cellAttributes: null
        },
        {
          text: "L",
          cellAttributes: null
        },
      ],
    ],
    body: [
      [
        {
          text: "Обхват бедер",
          cellAttributes: {class: "bold"}
        },
        {
          text: "83-88",
          cellAttributes: null
        },
        {
          text: "89-95",
          cellAttributes: null
        },
        {
          text: "96-101",
          cellAttributes: null
        },
        {
          text: "102-107",
          cellAttributes: null
        },
      ],
      [
        {
          text: "Обхват талии",
          cellAttributes: {class: "bold"}
        },
        {
          text: "54-59",
          cellAttributes: null
        },
        {
          text: "60-67",
          cellAttributes: null
        },
        {
          text: "68-74",
          cellAttributes: null
        },
        {
          text: "75-81",
          cellAttributes: null
        },
      ],
    ]
  }

  const brasInternationalSizes = {
    title: "Бюстгальтеры",
    head: [
      [
        {
          text: "Европа, Россия",
          cellAttributes: null
        },
        {
          text: "Англия",
          cellAttributes: null
        },
        {
          text: "США",
          cellAttributes: null
        },
        {
          text: "Австралия",
          cellAttributes: null
        },
      ],
    ],
    body: [
      [
        {
          text: "70A",
          cellAttributes: null
        },
        {
          text: "32A",
          cellAttributes: null
        },
        {
          text: "32A",
          cellAttributes: null
        },
        {
          text: "10A",
          cellAttributes: null
        },
      ],
      [
        {
          text: "70B",
          cellAttributes: null
        },
        {
          text: "32B",
          cellAttributes: null
        },
        {
          text: "32B",
          cellAttributes: null
        },
        {
          text: "10B",
          cellAttributes: null
        },
      ],
      [
        {
          text: "70C",
          cellAttributes: null
        },
        {
          text: "32C",
          cellAttributes: null
        },
        {
          text: "32C",
          cellAttributes: null
        },
        {
          text: "10C",
          cellAttributes: null
        },
      ],
      [
        {
          text: "70D",
          cellAttributes: null
        },
        {
          text: "32D",
          cellAttributes: null
        },
        {
          text: "32D",
          cellAttributes: null
        },
        {
          text: "10D",
          cellAttributes: null
        },
      ],
      [
        {
          text: "70E",
          cellAttributes: null
        },
        {
          text: "32DD",
          cellAttributes: null
        },
        {
          text: "32DD/E",
          cellAttributes: null
        },
        {
          text: "10E",
          cellAttributes: null
        },
      ],
      [
        {
          text: "75A",
          cellAttributes: null
        },
        {
          text: "34A",
          cellAttributes: null
        },
        {
          text: "34A",
          cellAttributes: null
        },
        {
          text: "12A",
          cellAttributes: null
        },
      ],
      [
        {
          text: "75B",
          cellAttributes: null
        },
        {
          text: "34B",
          cellAttributes: null
        },
        {
          text: "34B",
          cellAttributes: null
        },
        {
          text: "12B",
          cellAttributes: null
        },
      ],
      [
        {
          text: "75C",
          cellAttributes: null
        },
        {
          text: "34C",
          cellAttributes: null
        },
        {
          text: "34C",
          cellAttributes: null
        },
        {
          text: "12C",
          cellAttributes: null
        },
      ],
      [
        {
          text: "75D",
          cellAttributes: null
        },
        {
          text: "34D",
          cellAttributes: null
        },
        {
          text: "34D",
          cellAttributes: null
        },
        {
          text: "12D",
          cellAttributes: null
        },
      ],
      [
        {
          text: "75E",
          cellAttributes: null
        },
        {
          text: "34DD",
          cellAttributes: null
        },
        {
          text: "34DD/E",
          cellAttributes: null
        },
        {
          text: "12E",
          cellAttributes: null
        },
      ],
      [
        {
          text: "80A",
          cellAttributes: null
        },
        {
          text: "36A",
          cellAttributes: null
        },
        {
          text: "36A",
          cellAttributes: null
        },
        {
          text: "14A",
          cellAttributes: null
        },
      ],
      [
        {
          text: "80B",
          cellAttributes: null
        },
        {
          text: "36B",
          cellAttributes: null
        },
        {
          text: "36B",
          cellAttributes: null
        },
        {
          text: "14B",
          cellAttributes: null
        },
      ],
      [
        {
          text: "80C",
          cellAttributes: null
        },
        {
          text: "36C",
          cellAttributes: null
        },
        {
          text: "36C",
          cellAttributes: null
        },
        {
          text: "14C",
          cellAttributes: null
        },
      ],
      [
        {
          text: "80D",
          cellAttributes: null
        },
        {
          text: "36D",
          cellAttributes: null
        },
        {
          text: "36D",
          cellAttributes: null
        },
        {
          text: "14D",
          cellAttributes: null
        },
      ],
      [
        {
          text: "85A",
          cellAttributes: null
        },
        {
          text: "38A",
          cellAttributes: null
        },
        {
          text: "38A",
          cellAttributes: null
        },
        {
          text: "16A",
          cellAttributes: null
        },
      ],
      [
        {
          text: "85B",
          cellAttributes: null
        },
        {
          text: "38B",
          cellAttributes: null
        },
        {
          text: "38B",
          cellAttributes: null
        },
        {
          text: "16B",
          cellAttributes: null
        },
      ],
      [
        {
          text: "85C",
          cellAttributes: null
        },
        {
          text: "38C",
          cellAttributes: null
        },
        {
          text: "38C",
          cellAttributes: null
        },
        {
          text: "16C",
          cellAttributes: null
        },
      ],
    ]
  }
