-
  const collections = [
    {
      img: "product-1",
      width: "430",
      height: "644",
      video: "product-1",
      name: "Eva",
      price: "7 500",
      oldPrice: "6 300",
      sale: "20",
      sizeSmall: true
    },
    {
      img: "product-1",
      width: "430",
      height: "644",
      img2: "product-2",
      name: "Eva",
      sizeSmall: true
    },
    {
      img: "product-2",
      width: "430",
      height: "644",
      video: "product-2",
      name: "Goddes",
      sizeSmall: true
    },
    {
      img: "product-3",
      width: "430",
      height: "644",
      img2: "product-2",
      name: "Monica",
      sizeSmall: true
    },
    {
      img: "product-4",
      width: "430",
      height: "644",
      img2: "product-3",
      name: "Adele",
      sizeSmall: true
    },
    {
      img: "product-5",
      width: "430",
      height: "644",
      img2: "product-4",
      name: "Adele",
      sizeSmall: true
    },
    {
      img: "product-1",
      width: "430",
      height: "644",
      video: "product-1",
      name: "Eva",
      price: "7 500",
      oldPrice: "6 300",
      sale: "20",
      sizeSmall: true,
    },
    {
      img: "product-1",
      width: "430",
      height: "644",
      img2: "product-2",
      name: "Eva",
      sizeSmall: true
    },
    {
      img: "product-2",
      width: "430",
      height: "644",
      video: "product-2",
      name: "Goddes",
      sizeSmall: true
    },
    {
      img: "product-3",
      width: "430",
      height: "644",
      video: "product-3",
      name: "Monica",
      sizeSmall: true
    },
    {
      img: "product-4",
      width: "430",
      height: "644",
      video: "product-4",
      name: "Adele",
      sizeSmall: true
    },
    {
      img: "product-5",
      width: "430",
      height: "644",
      video: "product-5",
      name: "Adele",
      sizeSmall: true
    },
    {
      img: "product-5",
      width: "430",
      height: "644",
      video: "product-5",
      name: "Adele",
      sizeSmall: true
    },
  ]
