-
  const mainCollection = [
    {
      img: "product-1",
      width: "430",
      height: "644",
      video: "product-1",
      name: "Eva",
    },
    {
      img: "product-2",
      width: "430",
      height: "644",
      video: "product-2",
      name: "Goddes",
    },
    {
      img: "product-3",
      width: "430",
      height: "644",
      video: "product-3",
      name: "Monica",
    },
    {
      img: "product-4",
      width: "430",
      height: "644",
      video: "product-4",
      name: "Adele",
    },
    {
      img: "product-5",
      width: "430",
      height: "644",
      video: "product-5",
      name: "Adele",
    }
  ]
