-
  const showMoreLow = [
    {
      img: "card-1",
      width: "430",
      height: "644",
      img2: "card-2",
      name: "Basic голубой",
    },
    {
      img: "card-2",
      width: "430",
      height: "644",
      img2: "card-1",
      name: "Basic белый",
    },
    {
      img: "card-3",
      width: "430",
      height: "644",
      img2: "card-2",
      name: "Basic красный",
    }
  ]
