-
  const showMore = [
    {
      img: "card-4",
      width: "430",
      height: "644",
      img2: "card-5",
      name: "Basic голубой"
    },
    {
      img: "card-5",
      width: "430",
      height: "644",
      img2: "card-4",
      name: "Basic белый"
    },
    {
      img: "card-6",
      width: "430",
      height: "644",
      img2: "card-7",
      name: "Basic красный"
    },
    {
      img: "card-7",
      width: "430",
      height: "644",
      img2: "card-6",
      name: "Basic красный"
    },
    {
      img: "card-6",
      width: "430",
      height: "644",
      img2: "card-2",
      name: "Basic красный"
    }
  ]
