-
  const cartItems = [
    {
      name: 'Стикини',
      size: '',
      price: '1 500 ₽',
      img: 'cart-img-1'
    },
    {
      name: 'Пояс Burlesque',
      size: 'М',
      price: '3 800 ₽',
      img: 'cart-img-2'
    },
    {
      name: 'Гартеры Burlesque',
      size: '',
      price: '3 300 ₽',
      img: 'cart-img-3'
    },
    {
      name: 'Бюстгальтер Burlesque',
      size: '70C',
      price: '4 300 ₽',
      img: 'cart-img-4'
    },
    {
      name: 'Трусики Burlesque',
      size: 'М',
      price: '4 300 ₽',
      img: 'cart-img-5'
    },
  ]

mixin modal-cart()
  .modal-cart
    .modal-cart__content
      h2.modal-cart__title Корзина
      .modal-cart__scroll-wrapper
        ul.modal-cart__list
          each item in cartItems
            - const {name, size, price, img} = item
            li.modal-cart__item
              .modal-cart-item
                button.modal-cart-item__delete(type="button", aria-label="Удалить")
                  +icon("icon-close", 18, 18)
                .modal-cart-item__img
                  +img("cart", img, "jpg", 192, 284, name)
                .modal-cart-item__content
                  h3.modal-cart-item__name!= name
                  if size
                    p.modal-cart-item__size
                      | Размер:&nbsp;
                      span!= size
                  .modal-cart-item__footer
                    .modal-cart-item__counter
                      +counter()
                    p.modal-cart-item__price!= price
    .modal-cart__footer
      p.modal-cart__total
        span Итого
        span 17 500 ₽
      .modal-cart__buttons
        a.btn.modal-cart__button(href="#") Оформить заказ
        a.btn-stroke.modal-cart__button(href="#") В корзину
