mixin modal-cart(props = {})
  - const {items = []} = props
  .modal-cart
    .modal-cart__content
      h2.modal-cart__title Корзина
      .modal-cart__scroll-wrapper
        ul.modal-cart__list
          each item in items
            - const {name, size, price, img} = item
            li.modal-cart__item
              .modal-cart-item
                button.modal-cart-item__delete(type="button", aria-label="Удалить")
                  +icon("icon-close", 18, 18)
                .modal-cart-item__img
                  +img("cart", img, "jpg", 192, 284, name)
                .modal-cart-item__content
                  h3.modal-cart-item__name!= name
                  if size
                    p.modal-cart-item__size
                      | Размер:&nbsp;
                      span!= size
                  .modal-cart-item__footer
                    .modal-cart-item__counter
                      +counter()
                    p.modal-cart-item__price!= price
    .modal-cart__footer
      p.modal-cart__total
        span Итого
        span 17 500 ₽
      .modal-cart__buttons
        +btn({text: "Оформить заказ", href: "#"}).modal-cart__button
        +btn({text: "В корзину", stroke: true}).modal-cart__button
