mixin modal-cart(props = {})
  - const {items = []} = props
  .modal-cart
    .modal-cart__content
      h2.modal-cart__title Корзина
      .modal-cart__scroll-wrapper
        ul.modal-cart__list
          each item in items
            li.modal-cart__item
              +modal-cart-item(item)
    .modal-cart__footer
      p.modal-cart__total
        span Итого
        span 17 500 ₽
      .modal-cart__buttons
        +btn({text: "Оформить заказ", href: "#"}).modal-cart__button
        +btn({text: "В корзину", stroke: true}).modal-cart__button
