//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/picture-mob
include ./utils/back-link

//- Modals

include ./modals/modal-feedback
include ./modals/modal-success
include ./modals/modal-cart
include ./modals/modal-gallery
include ./modals/sizes
include ./modals/modal-message

//- Blocks

include ./blocks/hero-slider
include ./blocks/gallery-slider
include ./blocks/set-card
include ./blocks/header-delivery
include ./blocks/contents
include ./blocks/product-card
include ./blocks/main-collection
include ./blocks/main-categories
include ./blocks/nav-submenu
include ./blocks/card-product
include ./blocks/cart

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-select
include ./mixins/custom-textarea
include ./mixins/custom-toggle
include ./mixins/custom-radio
include ./mixins/counter
include ./mixins/accordion
include ./mixins/table
