//- Base

include ./base/header
include ./base/footer
include ./base/modal

//- Utils

include ./utils/icon
include ./utils/img
include ./utils/picture
include ./utils/picture-mob
include ./utils/back-link

//- Modals

include ./modals/modal-cart
include ./modals/modal-gallery
include ./modals/sizes
include ./modals/modal-message

//- Blocks

include ./blocks/hero-slider
include ./blocks/gallery-slider
include ./blocks/set-card
include ./blocks/header-delivery
include ./blocks/contents
include ./blocks/product-card
include ./blocks/main-collection
include ./blocks/main-categories
include ./blocks/nav-submenu
include ./blocks/card-product
include ./blocks/cart
include ./blocks/inst-block
include ./blocks/modal-cart-item
include ./blocks/order
include ./blocks/order-block
include ./blocks/information-form
include ./blocks/delivery-tabs
include ./blocks/delivery-checks
include ./blocks/delivery-form
include ./blocks/payment-form
include ./blocks/order-success
include ./blocks/show-more
include ./blocks/type-aside
include ./blocks/table-size
include ./blocks/measurements
include ./blocks/pay
include ./blocks/delivery

//- Mixins

include ./mixins/btn
include ./mixins/custom-input
include ./mixins/custom-textarea
include ./mixins/custom-select
include ./mixins/custom-radio
include ./mixins/custom-toggle
include ./mixins/counter
include ./mixins/accordion
include ./mixins/table
